/DBManager.cpython-36.pyc
/DBManager_test.cpython-36-PYTEST.pyc
/DatabaseModule.cpython-36.pyc
/DatabaseModule_test.cpython-36-PYTEST.pyc
/Frequency.cpython-36.pyc
/ReportGenerator.cpython-36.pyc
/ReportGenerator_test.cpython-36-PYTEST.pyc
/__init__.cpython-36.pyc
