{% for zusammenfassung in zusammenfassungen%}
<div class="box collapsed-box theme-row">
	<div class="box-header with-border">
		<h3 class="box-title">{{zusammenfassung.name}}</h3>
		<button class="btn-tool pull-right" data-widget="collapse" id="open_{{zusammenfassung.name}}"><span class="fa fa-plus"></span></button>
	</div>
	<div class="box-body">
		<div class="table-responsive">
		    <table>
                <tr>
                    <th>Monat</th>
                    <th>1.{{ zusammenfassung.jahr }}</th>
                    <th>2.{{ zusammenfassung.jahr }}</th>
                    <th>3.{{ zusammenfassung.jahr }}</th>
                    <th>4.{{ zusammenfassung.jahr }}</th>
                    <th>5.{{ zusammenfassung.jahr }}</th>
                    <th>6.{{ zusammenfassung.jahr }}</th>
                    <th>7.{{ zusammenfassung.jahr }}</th>
                    <th>8.{{ zusammenfassung.jahr }}</th>
                    <th>9.{{ zusammenfassung.jahr }}</th>
                    <th>10.{{ zusammenfassung.jahr }}</th>
                    <th>11.{{ zusammenfassung.jahr }}</th>
                    <th>12.{{ zusammenfassung.jahr }}</th>
                </tr>
                <tr>
                    <th>Abrerechnete Buchungen</th>
                    {% for monat in zusammenfassung.monate %}
                        <th>{{ monat }}</th>
                    {% endfor %}
                </tr>
            </table>
        </div>
	</div>
</div>
{% endfor %}

{% for abrechnung in abrechnungen%}
<div class="box collapsed-box theme-row">
	<div class="box-header with-border">
		<h3 class="box-title">{{abrechnung.name}}</h3>
		<button class="btn-tool pull-right" data-widget="collapse" id="open_{{abrechnung.name}}"><span class="fa fa-plus"></span></button>
	</div>
	<div class="box-body">
		<div class="table-responsive">
            <textarea name='import' class="textarea" required="required" disabled>{{abrechnung.content}}</textarea>
		</div>
	</div>
</div>
{% endfor %}
