/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

app-sidebar {
  min-height: 100vh;
}

app-root {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}

mat-sidenav-container {
  background-color: #f1f1f1 !important;
  width: 100vw;
}

@media (min-width: 800px) {
  .mobile-only {
    display: none;
  }

  .erfassung {
    max-width: 40rem;
    margin: 2ex;
  }

  .wide {
    width: 100%;
    max-width: 80rem;
    margin: 2ex;
  }
}

@media (max-width: 799px) {
  .desktop-only {
    display: none;
  }

  .erfassung {
    margin: 2ex;
  }

  .wide {
    margin: 1ex;
  }

  .full-height {
    height: 6ex;
  }

  .full-with-on-mobile {
    width: 100%;
  }
}


.full-size-form-field {
  width: 100%;
  padding-right: 1.5ex;
}


mat-card-header {
  margin-bottom: 2ex;
}
