/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0px;
}


.app-content{
  height: 100%;
  min-height: 100vh;
}

app-sidebar {
  min-height: 100vh;
}


@media (min-width: 800px) {
  .app-content{
    display: flex;
    background-color: #f1f1f1;
 }

  .mobile-only {
    display: none;
  }

  .erfassung {
    max-width: 40ex;
    margin: 2ex;
  }

  .wide {
    width: 100%;
    max-width: 80ex;
    margin: 2ex;
  }
}

@media (max-width: 799px) {
  .app-content {
    background-color: #f1f1f1;
  }

  .desktop-only {
    display: none;
  }

  .erfassung {
    margin: 2ex;
  }

  .wide {
    margin: 1ex;
  }

  .full-height {
    height: 6ex;
  }

  .full-with-on-mobile {
    width: 100%;
  }
}


/*
Masken Eigenschaften
*/

.full-size-form-field {
  width: 100%;
  padding-right: 1.5ex;
}

/*
Menu item ohne border
*/

.mat-stroked-button {
  border: none !important;
}
