<div class="theme-double-columns">
  <div class="box">
	  <div class="box-header">
		  <h3 class="box-title">Abrechnungszeitraum</h3>
	  </div>
	  <div class="box-body border-top">
	    <form role="form" action="/gemeinsamabrechnen/" method="post">
            {% if set_self_kategorie %}
                <input value="{{set_self_kategorie_value}}" type="hidden" name="set_self_kategorie"/>
                <input value="{{set_self_kategorie_value}}" type="hidden" name="set_self_kategorie_value"/>
            {% endif %}
            {% if set_other_kategorie %}
                <input value="{{set_other_kategorie_value}}" type="hidden" name="set_other_kategorie"/>
                <input value="{{set_other_kategorie_value}}" type="hidden" name="set_other_kategorie_value"/>
            {% endif %}
            {% if set_limit %}
                <input value="on" type="hidden" name="set_limit"/>
                <input value="{{set_limit_fuer}}" type="hidden" name="set_limit_fuer"/>
                <input type="hidden" name="set_limit_value" id="set_limit_value" min="0" max="2000" value="{{ set_limit_value }}"/>
            {% endif %}
            <input value="{{set_verhaeltnis}}" type="hidden" name="set_verhaeltnis"/>
        <p><div id="abrechnungsinfo">{{count}} Einträge im Zeitraum von {{mindate}} bis {{maxdate}} stehen zur Abrechnung bereit.</div></p>
        <p><div id="set_abrechnungsinfo">{{set_count}} Einträge im Zeitraum von {{set_mindate}} bis {{set_maxdate}} sind zur Abrechnung ausgewählt.</div></p>
			  <div class="box-body">
				  <div class="form-group">
					  <label>Startdatum (einschließich):</label>
					  <div class="input-group">
						  <div class="input-group-addon">
							  <span class="fa fa-calendar"></span>
						  </div>
						  <input value="{{set_mindate_rfc}}" type="date" min="2000-01-01" max="2030-12-31" name="set_mindate" class="form-control" required="required" autofocus="autofocus"/>
					  </div>
				  </div>
				  <div class="form-group">
					  <label>Endedatum (einschließich):</label>
					  <div class="input-group">
						  <div class="input-group-addon">
							  <span class="fa fa-calendar"></span>
						  </div>
						  <input value="{{set_maxdate_rfc}}" type="date" min="2000-01-01" max="2030-12-31" name="set_maxdate" class="form-control" required="required" autofocus="autofocus"/>
					  </div>
				  </div>
			  </div>
			  <div class="box-footer">
				  <button type="submit" name="action" value="add" id="add" class="btn bordered-hover">Abrechnung vorbereiten</button>
			  </div>
		  </form>
    </div>
  </div>
    <div class="box">
	  <div class="box-header">
		  <h3 class="box-title">Abrechnungsverhältnis</h3>
	  </div>
	  <div class="box-body border-top">
	    <form role="form" action="/gemeinsamabrechnen/" method="post">
            <input value="{{set_mindate_rfc}}" type="hidden" name="set_mindate"/>
            <input value="{{set_maxdate_rfc}}" type="hidden" name="set_maxdate"/>
			  <div class="box-body">
				  <div class="form-group">
					  <label>Anteil, den {{myname}} übernimmt (in Prozent)</label>
					  <div class="input-group">
						 <input type="number" name="set_verhaeltnis" min="0" max="100" required="required" id="abrechnungsverhaeltnis" value="{{ set_verhaeltnis }}"/>
					  </div><br/>
					  <label>Erweiterte Einstellungen</label>
					  <div class="input-group">
                          {% if set_limit %}
                            <input type="checkbox" name="set_limit" id="set_limit" checked="checked"/>
                          {% else %}
                            <input type="checkbox" name="set_limit" id="set_limit"/>
                          {% endif %}
                          Limit setzen für
                          <select name="set_limit_fuer" id="set_limit_fuer">
                              {% if set_limit_fuer  == myname %}
                                 <option value="{{ myname }}" selected="selected">{{myname}}</option>
                                 <option value="{{ partnername }}">{{partnername}}</option>
                              {% else %}
                                 <option value="{{ myname }}">{{myname}}</option>
                                 <option value="{{ partnername }}" selected="selected">{{partnername}}</option>
                              {% endif %}
                         </select>
                          mit einem Wert von
                          <input type="number" name="set_limit_value" id="set_limit_value" min="0" max="2000" value="{{ set_limit_value }}"/>
					    Euro.
					  </div>
                      <div class="input-group">
                          {% if set_self_kategorie %}
                              <input type="checkbox" name="set_self_kategorie" checked="checked" id="set_self_kategorie"/>
                          {% else %}
                              <input type="checkbox" name="set_self_kategorie" id="set_self_kategorie"/>
                          {% endif %}
                          von paritätischer Teilung abweichender Geldanteil<br/>bei der Abrechnung in der eigenen Datenbank als
                          <select name="set_self_kategorie_value" id="set_self_kategorie_value">
                              {% for kategorie in kategorien %}
                                  {% if set_self_kategorie_value == kategorie %}
                                      <option value="{{ kategorie }}" selected="selected">{{ kategorie }}</option>
                                  {% else %}
                                      <option value="{{ kategorie }}">{{ kategorie }}</option>
                                  {% endif %}
                              {% endfor %}
                          </select>importieren.
                      </div>
                      <div class="input-group">
                          {% if set_other_kategorie %}
                          <input type="checkbox" name="set_other_kategorie" id="set_other_kategorie" checked="checked"/>
                          {% else %}
                          <input type="checkbox" name="set_other_kategorie" id="set_other_kategorie"/>
                          {% endif %}
                          von paritätischer Teilung abweichender Geldanteil<br/>bei der Abrechnung in der Partnerdatenbank als
                          <input type="text" name="set_other_kategorie_value" id="set_other_kategorie_value" value="{{ set_other_kategorie_value }}"/> importieren.
                      </div>
				  </div>
			  </div>
			  <div class="box-footer">
				  <button type="submit" name="action" value="add" id="abrechnung_aktualisieren" class="btn bordered-hover">Abrechnung aktualisieren</button>
              </div>
        </form>
      </div>
    </div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Ausgaben pro Person</h3>
		</div>
		<div class="box-body border-top">
			<div class="table-responsive">
				<table class="table no-margin">
					<thead>
						<tr>
							<th>Person</th>
							<th class="table-wert">Ausgegeben</th>
                            <th class="table-wert">Ausgegeben Soll</th>
                            <th class="table-wert">Differenz</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{partnername}}</td>
							<td class="table-wert" id="ausgabe_partner">{{ausgabe_partner}}</td>
							<td class="table-wert" id="ausgabe_partner_soll">{{partner_soll}}</td>
							<td class="table-wert" id="ausgabe_partner_diff">{{partner_diff}}</td>
						</tr>
						<tr>
							<td>{{myname}}</td>
							<td class="table-wert" id="ausgabe_self">{{ausgabe_self}}</td>
							<td class="table-wert" id="ausgabe_self_soll">{{self_soll}}</td>
							<td class="table-wert" id="ausgabe_self_diff">{{self_diff}}</td>
						</tr>
					</tbody>
					<tfooter>
						<tr>
							<td>Gesamt</td>
							<td class="table-wert">{{ausgabe_gesamt}}</td>
						</tr>
					</tfooter>
				</table>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Ausgaben nach Person</h3>
		</div>
		<div class="box-body border-top">
			<div class="chart-responsive">
				<canvas id="zusammenfassungPie" height="200"></canvas>
				<script>
					var pieData = {
					labels:["{{myname}}","{{partnername}}"],
					datasets: [
					{
					data: [{{ausgabe_self}},{{ausgabe_partner}}],
					backgroundColor: ['#00a65a','#f56954'],
					}],
					};
					var canvas = document.getElementById("zusammenfassungPie");
					var myLineChart = new Chart(canvas, {
					type: 'pie',
					data: pieData,
					options: {
					responsive: true,
					maintainAspectRatio: false,
					}});
				</script>
			</div>
		</div>
	</div>
</div>
<div class='theme-double-columns'>
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Ergebnis</h3>
		</div>
		<div class="box-body border-top">
			{{ergebnis | safe}}
		</div>
		<div class="box-footer clearfix">
            <form role="form" action="/abrechnen/" method="post">
                <input value="{{set_mindate}}" type="hidden" name="set_mindate"/>
                <input value="{{set_maxdate}}" type="hidden" name="set_maxdate"/>
                <input value="{{set_verhaeltnis_real}}" type="hidden" name="set_verhaeltnis"/>
                <input value="{{str_ergebnis}}" type="hidden" name="set_ergebnis"/>
                {% if set_self_kategorie %}
                    <input value="{{set_self_kategorie_value}}" type="hidden" name="set_self_kategorie"/>
                {% endif %}
                {% if set_other_kategorie %}
                    <input value="{{set_other_kategorie_value}}" type="hidden" name="set_other_kategorie"/>
                {% endif %}
				<input type="hidden" name="ID" value="{{ID}}">
                <button type="submit" class="btn bordered-hover pull-left" id="abrechnen">Jetzt Abrechnen!</button>
            </form>
		</div>
	</div>
</div>
