{% for zusammenfassung in zusammenfassungen %}
<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">Zusammenfassung {{zusammenfassung.jahr}}</h3>
        <button class="btn-tool pull-right open_button" id="open_add_kategorie"><span class="fa fa-plus"></span></button>
        <button class="btn-tool pull-right close_button" id="close_add_kategorie"><span class="fa fa-minus"></span></button>
    </div>
	<div class="box-body boxcontent closed" id="zusammenfassung_{{zusammenfassung.jahr}}">
        <table>
            <tr>
                <th>Monat</th>
                <th>1.{{ zusammenfassung.jahr }}</th>
                <th>2.{{ zusammenfassung.jahr }}</th>
                <th>3.{{ zusammenfassung.jahr }}</th>
                <th>4.{{ zusammenfassung.jahr }}</th>
                <th>5.{{ zusammenfassung.jahr }}</th>
                <th>6.{{ zusammenfassung.jahr }}</th>
                <th>7.{{ zusammenfassung.jahr }}</th>
                <th>8.{{ zusammenfassung.jahr }}</th>
                <th>9.{{ zusammenfassung.jahr }}</th>
                <th>10.{{ zusammenfassung.jahr }}</th>
                <th>11.{{ zusammenfassung.jahr }}</th>
                <th>12.{{ zusammenfassung.jahr }}</th>
            </tr>
            <tr>
                <th>Abrerechnete Buchungen</th>
                {% for monat in zusammenfassung.monate %}
                    <th>{{ monat }}</th>
                {% endfor %}
            </tr>
        </table>
	</div>
</div>
{% endfor %}

{% for abrechnung in abrechnungen%}
<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">{{abrechnung.name}}</h3>
        <button class="btn-tool pull-right open_button" id="open_abrechung_{{abrechnung.name}}"><span class="fa fa-plus"></span></button>
        <button class="btn-tool pull-right close_button" id="close_abrechung_{{abrechnung.name}}"><span class="fa fa-minus"></span></button>
	</div>
	<div class="box-body boxcontent closed" id="boxcontent_abrechung_{{abrechnung.name}}">
        <textarea name='import' class="textarea abrechnung" required="required" disabled>{{abrechnung.content}}</textarea>
	</div>
</div>
{% endfor %}
