<a href="https://sebastianrzk.codeberg.page/budgetbutlerweb/">
  <div class="migration-note">
    <h2>➡️ BudgetButlerWeb ist zu Codeberg umgezogen. Klicken Sie hier, um zur neuen Website zu navigieren! ⬅️</h2>
    <p>
      Issues und Diskussionen werden noch eine Weile auf GitHub akzeptiert. Bitte beachten Sie jedoch, dass die
      Hauptentwicklung auf Codeberg stattfindet und sinnvolle Pull Requests nur dort eingereicht werden können.
    </p>
    <p>
      Vielen Dank für Ihr Verständnis und Ihre fortgesetzte Unterstützung!
    </p>

  </div>
</a>
