body {
  background-color: rgb(240,240,240);
  font-size: 110%;
}

input{
  width: 100%;
  border-style: none none solid none;
  border-color: black;
  font-size: 110%;
  padding-top: 0.2rem;
}

.content {
  margin-top: 0ex;
}

.box {
  background-color: white;
  width: 20rem;
  padding: 1.5rem;
  padding-bottom: 3rem;

  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.2);
}

button {
  font-size: 120%;
}

option {
  font-size: 110%;
}

.rightbutton{
  float: right;
}

.content section {
  margin-top: 8ex;
}

div{
  margin-top: 2ex;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  max-height: 6rem;
  height: 6rem;
}

.mycheckbox {
  width: 2ex;
}

.success {
  border: 2px solid green;
  border-radius: 5px;
  background-color: #90EE90;
}

button {
	background-color: #00acd6;
	color: #FFF;
    margin-top: 0.25rem;
    padding: 0.25rem;
    border-style: none;
}

button:hover {
  background-color: #FFF;
  color: #00acd6;
  border: 1px solid #00acd6;
}

@media screen and (max-width: 500px){
  body {
    margin: 0%;
  }

  .box{
    width: 80%;
    margin: 5%;
    padding: 5%;
    padding-bottom: 3em;
  }

  form > div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  input {
    padding-top: 0.5rem;
    font-size: 100%;
  }

  button {
    padding: 0.5rem;
  }

  option {
   font-size: 150%;
  }

}
