<mat-card class="erfassung">
  <mat-card-header>
    <mat-card-title>Buchung erfassen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onFormSubmit()" [formGroup]="buchungForm">
      <mat-form-field class="full-size-form-field">
        <mat-label>Datum der Ausgabe</mat-label>
        <input [matDatepicker]="picker" formControlName="datum" matInput required>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="isSmallScreen" (change)="console.log($event)"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-size-form-field">
        <mat-label>Name der Ausgabe</mat-label>
        <input formControlName="name" matInput maxlength="55" required value="">
      </mat-form-field>
      <mat-form-field class="full-size-form-field">
        <mat-label>Kategorie</mat-label>
        <mat-select formControlName="kategorie" required>
          <mat-option *ngFor="let kategorie of kategorien | async" value="{{kategorie.name}}">{{kategorie.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="gemeinsameBuchung">Gemeinsame Buchung von mir</mat-checkbox>
      <mat-form-field class="full-size-form-field">
        <mat-label>Wert</mat-label>
        <input formControlName="wert" matInput required type="number" value="">
      </mat-form-field>
      <button class="full-size-form-field" color="primary" mat-raised-button type="submit">Ausgabe
        hinzufügen
      </button>
    </form>
  </mat-card-content>
</mat-card>
