/.buildconfig
/.project
/.pydevproject
/Database_*
/Import/*
/Backups/*
**/*.pyc
**/.pytest_cache
/online/vendor
/online/db.ini
/online/composer.lock
/.idea
*.log
/venv
/.venv
*.iml
config
**/shares_info_cache.json
/build/
/dist/
/BudgetButlerWeb.egg-info/
.coverage
/logs/
/target
/data
butler_offline/target
/database_migrator/venv
data/Database_Test_User.csv
database_migrator/Database_Test_User.csv
