<div class="input-theme">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">{{element_titel}}</h3>
		</div>
		<form role="form" action="/adddauerauftrag/" method="post">
			{% if bearbeitungsmodus %}
				<input type="hidden" name="edit_index" value="{{edit_index}}">
			{% endif %}
			<input type="hidden" name="ID" value="{{ID}}">
			<div class="box-body">
				<div class="form-group">
					<label>Startdatum:</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
						<input value="{{default_item.Startdatum}}" type="date" name="startdatum" id="startdatum" class="form-control" required="required" min="2000-01-01" max="2030-12-31" autofocus="autofocus"/>
					</div>
				</div>
				<div class="form-group">
					<label>Endedatum:</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
						<input value="{{default_item.Endedatum}}" type="date" name="endedatum" class="form-control" id="endedatum" required="required" min="2000-01-01" max="2030-12-31" />
					</div>
				</div>
				<div class="form-group">
					<label>Name des Dauerauftrags</label> <input value="{{default_item.Name}}" type="text" name="name" class="form-control" placeholder="" required="required" />
				</div>
				<div class="form-group">
					<label>Rhythmus</label> <select value="{{default_item.Rhythmus}}" class="form-control" name="rhythmus" id="rhythmus_auswahl">
					 {% for rhythmus in rhythmen %}
						<option
						{% if bearbeitungsmodus and default_item.Rhythmus == rhythmus%}
						selected="selected"
						{% endif %}
						>{{rhythmus}}</option>
					 {% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Art</label>
					<select value="{{default_item.art}}" class="form-control" name="typ" id="typ_auswahl">
						<option
							{% if bearbeitungsmodus and default_item.typ == "Ausgabe"%}
							selected="selected"
							{% endif %}
							>Ausgabe</option>
						<option
							{% if bearbeitungsmodus and default_item.typ == "Einnahme"%}
							selected="selected"
							{% endif %}
							>Einnahme</option>
					</select>
				</div>
				<div class="form-group">
					<label>Wert der einzelnen Buchung</label> <input value="{{default_item.Wert}}" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" name="wert" required="required" class="form-control" placeholder="" />
				</div>
				<div class="form-group">
					<label>Kategorie</label> <select class="form-control" name="kategorie" id="kategorie_auswahl">
					 {% for kategorie in kategorien %}
						<option
							{% if bearbeitungsmodus and kategorie == default_item.Kategorie%}
							selected="selected"
							{% endif %}
							>{{kategorie}}</option>
					 {% endfor %}
					</select>
				</div>
			</div>
			<div class="box-footer">
				<button type="submit" name="action" value="add" id="add" class="btn bordered-hover">{{approve_title}}</button>
			</div>
		</form>
	</div>
	<div class="input-kategorie-box">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Neue Kategorie</h3>
				<button class="btn-tool pull-right open_button" id="open_add_kategorie"><span class="fa fa-plus"></span></button>
			  	<button class="btn-tool pull-right close_button" id="close_add_kategorie"><span class="fa fa-minus"></span></button>
			</div>
			<div class="boxcontent closed" id="kategoriebox">
				<form role="form" action="/configuration/" method="post">
					<div class="form-group">
						<label>Für den nächsten Eintrag eine zusätzliche Kategorie hinzufügen</label> <input type="text" name="neue_kategorie" class="form-control" placeholder="Enter ..." />
					</div>
					<div class="box-footer">
						<input type="hidden" name="redirect" value="adddauerauftrag">
						<button type="submit" name="action" value="add_kategorie" id="add_kategorie" class="btn bordered-hover">Daten aktualisieren</button>
					</div>
				</form>
			</div>
		</div>
		<div></div>
	</div>
	<div class="box last-elements-box">
		<div class="box-header">
		  <h3 class="box-title">Letzte Erfassungen</h3>
		</div>
		<div class="box-body table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th></th>
						<th>Startdatum</th>
						<th>Endedatum</th>
						<th>Rhythmus</th>
						<th>Name</th>
						<th>Kategorie</th>
						<th class="table-wert">Wert</th>
					</tr>
				</thead>
				<tbody>
					{% for ausgabe in letzte_erfassung %}
					<tr>
						<td><span class="fa fa-{{ausgabe.fa}} pull-right"></span></td>
						<td>{{ausgabe.startdatum}}</td>
						<td>{{ausgabe.endedatum}}</td>
						<td>{{ausgabe.rhythmus}}</td>
						<td>{{ausgabe.name}}</td>
						<td>{{ausgabe.kategorie}}</td>
						<td class="table-wert">{{ausgabe.wert}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="box-footer clearfix">
			<a href="/uebersicht/" class="btn btn-light pull-right">Alle Buchungen ansehen</a>
		</div>
	</div>
</div>
