<div class="box theme-row">
  <form role="form" action="/uebersicht/" method="post">
    <div class="box-body">
      <input type="hidden" name="mode" value="change_month"/>
	    <div class="form-group">
		    <label>Wähle Jahr</label>
	      <select class="form-control" name="date" id="date">
	        {% for jahr in jahre %}
			  <option value="{{jahr}}"
				{% if jahr == selected_date %}
				selected="selected"
				{% endif %}
			  >{{jahr}}</option>
			  {% endfor %}
		    </select>
	    </div>
	    <button type="submit" value="OK" class="btn bordered-hover">Filtern!</button>
    </div>
  </form>
</div>

{% for name,ausgaben in alles.items()%}
<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">{{name}}</h3>
		<button class="btn-tool pull-right open_button" id="open_{{name}}"><span class="fa fa-plus"></span></button>
		<button class="btn-tool pull-right close_button" id="close_{{name}}"><span class="fa fa-minus"></span></button>
	</div>
	<div class="boxcontent closed box-body border-top" id="boxcontent_{{name}}">
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th>Nummer</th>
						<th>Datum</th>
						<th>Name</th>
						<th>Kategorie</th>
						<th class="table-wert">Wert</th>
						<th>Tags</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for ausgabe in ausgaben %}
					<tr>
						<td id="item_{{ausgabe.index}}_id">{{ausgabe.index}}</td>
						<td id="item_{{ausgabe.index}}_datum">{{ausgabe.datum}}</td>
						<td id="item_{{ausgabe.index}}_name">{{ausgabe.name}}</td>
						<td id="item_{{ausgabe.index}}_kategorie">{{ausgabe.kategorie}}</td>
						<td id="item_{{ausgabe.index}}_wert" class="table-wert">{{ausgabe.wert}}</td>
						<td id="item_{{ausgabe.index}}_tags">{{ausgabe.tags}}
						<td>
							{% if not ausgabe.dynamisch %}
							<div class="pull-right">
								<form onsubmit="return confirm('Willst du wirklich den Eintrag {{ausgabe.name}} löschen?');" role="form" action="/uebersicht/" method="post">
									<input type="hidden" name="ID" value="{{ID}}">
									<input type="hidden" name="delete_index" value="{{ausgabe.index}}">
									<button name="action" class="btn bordered-hover btn-icon" value="delete" ><span class="fa fa-trash-o fa-large"></span></button>
								</form>
							</div>
							<div class="pull-right">
								<form role="form" action="/{{ausgabe.link}}/" method="post">
									<input type="hidden" name="edit_index" value="{{ausgabe.index}}">
									<button type="submit" class="btn bordered-hover btn-icon" id="edit_{{ausgabe.index}}" name="action" value="edit" ><span class="fa fa-pencil fa-large"></span></button>
								</form>
							</div>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endfor %}
