<div class="box theme-row">
  <form role="form" action="/monatsuebersicht/" method="post">
    <div class="box-body">
      <div class="form-group">
        <label>Wähle Monat</label>
        <select class="form-control" name="date" id="date">
          {% for monat in monate %}
          <option value="{{monat}}"
            {% if monat == selected_date %}
              selected="selected"
            {% endif %}
          >{{monat}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" value="OK">Filtern!</button>
    </div>
    </form>
</div>

<div class="theme-row">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Balance {{selected_date}}</h3>
    </div>
    <div class="box-body">
      <canvas id="balance_canvas" style="width:100%; height:20ex;"></canvas>
      <script>
        var barChartData = {
          labels: ["{{selected_date}}"],
          datasets: [{
            label: '{{name_uebersicht_gruppe_1}}',
            backgroundColor: "{{color_uebersicht_gruppe_1}}",
            data: [{{wert_uebersicht_gruppe_1.js()}}]
          },
          {
            label: '{{name_uebersicht_gruppe_2}}',
            backgroundColor: "{{color_uebersicht_gruppe_2}}",
            data: [{{wert_uebersicht_gruppe_2.js()}}]
          }]
        };
        window.onload = function() {
          var ctx1 = document.getElementById("balance_canvas").getContext("2d");
          window.myBar = new Chart(ctx1, {
            type: 'horizontalBar',
            data: barChartData,
            options: {
              tooltips: {
                mode: 'index',
                intersect: false
              },
              responsive: true,
              scales: {
                xAxes: [{
                  stacked: true,
                }],
                yAxes: [{
                  stacked: true
                }]
              }
            }
          });
        };
      </script>
    </div>
  </div>
</div>

<div class="box theme-row">
  <div class="box-header">
    <h3 class="box-title">Gesamtbalance {{selected_year}}</h3>
  </div>
  <div class="box-body">
    <canvas id="balance_jahr_canvas" style="width: 100%; height: 20ex;"></canvas>
    <script>
      var barChartDataJahr = {
        labels: ["{{selected_year}}"],
        datasets: [{
          label: '{{name_uebersicht_jahr_gruppe_1}}',
          backgroundColor: "{{color_uebersicht_jahr_gruppe_1}}",
          data: [{{wert_uebersicht_jahr_gruppe_1.js()}}]
        },
        {
          label: '{{name_uebersicht_jahr_gruppe_2}}',
          backgroundColor: "{{color_uebersicht_jahr_gruppe_2}}",
          data: [{{wert_uebersicht_jahr_gruppe_2.js()}}]
        }]
      };
      var ctx2 = document.getElementById("balance_jahr_canvas").getContext("2d");
      window.myBarJahr = new Chart(ctx2, {
        type: 'horizontalBar',
        data: barChartDataJahr,
        options: {
          tooltips: {
            mode: 'index',
            intersect: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              stacked: true,
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
      });
    </script>
  </div>
</div>

<div class="theme-double-columns">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Ausgaben</h3>
    </div>
    <div class="box-body">
      <div class="chart-responsive">
        <canvas id="zusammenfassungPie" height="400"></canvas>
      </div>
    </div>
    <script>
      var pieData = {
        labels:{{ausgaben_labels|safe}},
        datasets: [{
          data: {{ausgaben_data.js()|safe}},
          backgroundColor: {{ausgaben_colors|safe}},
        }],
      };
      var canvas = document.getElementById("zusammenfassungPie");
      var myLineChart = new Chart(canvas, {
        type: 'pie',
        data: pieData,
        options: {
          responsive: true,
          maintainAspectRatio: false,
       }});
    </script>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Einnahmen</h3>
    </div>
    <div class="box-body">
      <div class="chart-responsive">
        <canvas id="zusammenfassungEinnahmenPie" height="400"></canvas>
      </div>
    </div>
    <script> 
      var pieData = {
        labels:{{einnahmen_labels|safe}},
        datasets: [{
          data: {{einnahmen_data.js()|safe}},
          backgroundColor: {{einnahmen_colors|safe}},
        }],
      };
      var canvas = document.getElementById("zusammenfassungEinnahmenPie");
      var myLineChart = new Chart(canvas, {
        type: 'pie',
        data: pieData,
        options: {
        responsive: true,
        maintainAspectRatio: false,
       }});
    </script>
  </div>
</div>

<div class="theme-double-columns">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Ausgaben</h3>
    </div>
    <div class="box-body">
      <table class="table">
        <thead>
          <tr>
            <th>Kategorie</th>
            <th class="table-wert">Wert</th>
          </tr>
        </thead>
        <tbody>
          {% for ausgabe in ausgaben %}
          <tr>
            <td> <span class="fa fa-circle" style="color: {{ausgabe.color}};"></span> {{ausgabe.kategorie}}</td>
            <td class="table-wert">{{ausgabe.wert.deutsch()}} €</td>
          </tr>
          {% endfor %}
          <tfooter>
          <tr>
            <td>Summe</td>
            <td class="table-wert">{{gesamt.deutsch()}} €</td>
          </tr>
          </tfooter>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Einnahmen</h3>
    </div>
    <div class="box-body">
      <table class="table">
        <thead>
          <tr>
            <th>Kategorie</th>
            <th class="table-wert">Wert</th>
          </tr>
        </thead>
        <tbody>
          {% for einnahme in einnahmen %}
          <tr>
            <td><span class="fa fa-circle" style="color: {{einnahme.color}};"></span> {{einnahme.kategorie}}</td>
            <td class="table-wert">{{einnahme.wert.deutsch()}} €</td>
          </tr>
          {% endfor %}
          <tfooter>
            <tr>
              <td>Summe</td>
              <td class="table-wert">{{gesamt_einnahmen.deutsch()}} €</td>
            </tr>
          </tfooter>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for tag in zusammenfassung %}
<div class="box theme-row">
  <div class="box-header">
    <h3 class="box-title">{{tag.0}}</h3>
    <button class="btn-tool pull-right open_button" id="open_{{tag.0}}"><span class="fa fa-plus"></span></button>
    <button class="btn-tool pull-right close_button" id="close_{{tag.0}}"><span class="fa fa-minus"></span></button>
  </div>
  <div class="box-body boxcontent border-top" id="boxcontent_{{tag.0}}">
    <table class="table">
      <thead>
        <tr>
          <th>Kategorie</th>
          <th>Name</th>
          <th class="table-wert">Wert</th>
        </tr>
      </thead>
      <tbody>
        {% for kategorie in tag.1 %}
        <tr>
          <td class="table-kategorie"><span class="fa fa-circle" style="color: {{kategorie.farbe}};"></span> {{kategorie.kategorie}}</td>
          <td>{{kategorie.name}}</td>
          <td class="table-wert">{{kategorie.summe}} €</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

