<div class="box theme-row">
  <form role="form" action="/jahresuebersicht/" method="post">
    <div class="box-body">
      <input type="hidden" name="mode" value="change_month"/>
	    <div class="form-group">
		    <label>Wähle Jahr</label>
	      <select class="form-control" name="date" id="date">
	        {% for jahr in jahre %}
			  <option value="{{jahr}}"
				{% if jahr == selected_date %}
				selected="selected"
				{% endif %}
			  >{{jahr}}</option>
			  {% endfor %}
		    </select>
	    </div>
	    <button type="submit" value="OK">Filtern!</button>
    </div>
  </form>
</div>

<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">Durchschnittliche Ausgaben pro Monat</h3>
	</div>
  <div class="box-body">
	  <canvas id="averagecanvas" class="diagramm-canvas"></canvas>
  </div>
  <script>
    var color = Chart.helpers.color;
    var barChartData = {
        labels: {{durchschnitt_monat_kategorien|safe}},
        datasets: [{
            label: 'Wert',
            backgroundColor: color('red').alpha(0.5).rgbString(),
            borderColor: 'red',
            borderWidth: 1,
            data: {{durchschnittlich_monat_wert|safe}}
        }]
    };

    window.onload = function() {
        var ctx = document.getElementById("averagecanvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    };
  </script>
</div>

<div class="box theme-row">
	<div class="box-header">
			<h3 class="box-title">Buchungen {{jahr}}</h3>
	</div>
  <div class="box-body">
		<canvas id="buchungenCanvas" class="diagramm-canvas"></canvas>
		<script>
			var salesChartData = {
					labels: {{monats_namen|safe}},
					datasets: [
						{% for dataset in buchungen %}
						{
							label: '{{dataset.kategorie}}',
							pointBorderColor: "{{dataset.farbe}}",
							borderColor: "{{dataset.farbe}}",
							pointStrokeColor: "{{dataset.farbe}}",
							data: {{dataset.wert|safe}}
						},
						{%endfor%}
					]
				};
				var canvas = document.getElementById("buchungenCanvas");
                canvas.style.height = canvas.scrollHeight + "px";
				canvas.style.width = canvas.scrollWidth + "px";
				new Chart(canvas, {
					type: 'line',
                    maintainAspectRatio: false,
					data: salesChartData,
					options: {
					responsive: true,
				}});
		</script>
	</div>
</div>

<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">Einnahmen</h3>
	</div>
  <div class="box-body">
		<canvas id="lineChartCanvasEinnahmen" class="diagramm-canvas"></canvas>
		<script>
			var salesChartData = {
					labels: {{monats_namen|safe}},
					datasets: [
						{% for key,val in einnahmen.items() %}
						{
							label: '{{key}}',
							pointBorderColor: "{{val.farbe}}",
							borderColor: "{{val.farbe}}",
							pointStrokeColor: "{{val.farbe}}",
							data: {{val['values'] | safe}}
						},
						{%endfor%}
					]
				};
				var canvas = document.getElementById("lineChartCanvasEinnahmen");
                canvas.style.height = canvas.scrollHeight + "px";
				canvas.style.width = canvas.scrollWidth + "px";
                function beforePrintHandler () {
                  for (var id in Chart.instances) {
                    Chart.instances[id].resize()
                  }
                }
				new Chart(canvas, {
					type: 'line',
                    maintainAspectRatio: false,
					data: salesChartData,
					options: {
					responsive: true,
                        onResize: beforePrintHandler
				}});

		</script>
	</div>
</div>

<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">Ausgaben</h3>
	</div>
  <div class="box-body">
		<canvas id="lineChartCanvas" class="diagramm-canvas"></canvas>
		<script>
			var salesChartData = {
					labels: {{monats_namen|safe}},
					datasets: [
						{% for key,val in ausgaben.items() %}
						{
							label: '{{key}}',
							pointBorderColor: "{{val.farbe}}",
							borderColor: "{{val.farbe}}",
							pointStrokeColor: "{{val.farbe}}",
							data: {{val['values'] | safe}}
						},
						{%endfor%}
					]
				};
				var canvas = document.getElementById("lineChartCanvas");
				canvas.style.height = canvas.scrollHeight + "px";
				canvas.style.width = canvas.scrollWidth + "px";
				new Chart(canvas, {
					type: 'line',
                    maintainAspectRatio: false,
					data: salesChartData,
					options: {
					responsive: true,
				}});
        </script>
	</div>
</div>

<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Ausgaben</h3>
		</div>
		<div class="box-body">
			<input type="hidden" name="mode" value="change_selected"> <input type="hidden" name="date"
				value="{{selected_date}}">
			<table class="table">
				<thead>
					<tr>
						<th>Kategorie</th>
						<th class="table-wert">Wert</th>
					</tr>
				</thead>
				<tbody>
					{% for ausgabe in zusammenfassung_ausgaben %}
					<tr>
						<td style="vertical-align: middle"><span class="fa fa-circle" style="color: {{ausgabe.color}};"></span> {{ausgabe.kategorie}}</td>
						<td style="vertical-align: middle" class="table-wert">{{ausgabe.wert.deutsch()}} €</td>
					</tr>
					{% endfor %}
					<tfooter>
					<tr>
						<td style="vertical-align: middle">Summe</td>
						<td style="vertical-align: middle" class="table-wert">{{gesamt_ausgaben.deutsch()}} €</td>
						<td/>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
					</tfooter>
				</tbody>
			</table>
		</div>
	</div>
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Einnahmen</h3>
		</div>
		<div class="box-body">
				<table class="table">
					<thead>
						<tr>
							<th>Kategorie</th>
							<th class="table-wert">Wert</th>
						</tr>
					</thead>
					<tbody>
						{% for ausgabe in zusammenfassung_einnahmen %}
						<tr>
							<td style="vertical-align: middle"><span class="fa fa-circle" style="color: {{ausgabe.color}};"></span> {{ausgabe.kategorie}}</td>
							<td style="vertical-align: middle" class="table-wert">{{ausgabe.wert.deutsch()}} €</td>
						</tr>
						{% endfor %}
						<tfooter>
						<tr>
							<td style="vertical-align: middle">Summe</td>
							<td style="vertical-align: middle" class="table-wert">{{gesamt_einnahmen.deutsch()}} €</td>
						</tr>
						</tfooter>
					</tbody>
				</table>
		</div>
	</div>
</div>

<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Ausgaben {{selected_date}} Prozentual</h3>
		</div>
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="zusammenfassungPieProzentualAusgaben" class="diagramm-canvas"></canvas>
			</div>
		</div>
		<script>
			var pieData = {
			labels:{{pie_ausgaben_labels|safe}},
			datasets: [{
			data: {{pie_ausgaben_data_prozentual.js()|safe}},
			backgroundColor: {{pie_ausgaben_colors|safe}},
			}],
			};
			var canvas = document.getElementById("zusammenfassungPieProzentualAusgaben");
			new Chart(canvas, {
			type: 'pie',
			data: pieData,
			options: {
			responsive: true,
			maintainAspectRatio: false,
			}});
		</script>
	</div>
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Einnahmen {{selected_date}} Prozentual</h3>
		</div>
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="zusammenfassungPieProzentualEinnahmen" class="diagramm-canvas"></canvas>
			</div>
		</div>
		<script>
			var pieData = {
			labels:{{pie_einnahmen_labels|safe}},
			datasets: [{
			data: {{pie_einnahmen_data_prozentual.js()|safe}},
			backgroundColor: {{pie_einnahmen_colors|safe}},
			}],
			};
			var canvas = document.getElementById("zusammenfassungPieProzentualEinnahmen");
			new Chart(canvas, {
			type: 'pie',
			data: pieData,
			options: {
			responsive: true,
			maintainAspectRatio: false,
			}});
		</script>
	</div>
</div>

