<mat-card class="wide">
  <mat-card-header>
    <mat-card-title>Persönliche Buchungen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="einzelbuchungen$" mat-table>
      <ng-container matColumnDef="Datum">
        <th *matHeaderCellDef mat-header-cell> Datum</th>
        <td *matCellDef="let element" mat-cell> {{element.datum | date: 'dd.MM'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Eigenschaften">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell>
          <mat-chip-listbox>
            <mat-chip>{{element.name}}</mat-chip>
            <mat-chip color="primary" highlighted="true">{{element.kategorie}}</mat-chip>
            <mat-chip>{{element.wert | number: '1.2-2' }}€</mat-chip>
          </mat-chip-listbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Aktion">
        <th *matHeaderCellDef mat-header-cell> Aktion</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="delete(element)">
            <mat-icon aria-hidden="false" aria-label="Löschen=">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
