<mat-card class="erfassung">
  <form [formGroup]="neuesPasswortForm" (ngSubmit)="changePassword()">
    <mat-card-title>Passwort ändern</mat-card-title>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Altes Passwort" [type]="'password'" formControlName="altesPasswort">
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Neues Passwort" [type]="'password'" formControlName="neuesPasswort" (keyup)="computeErrorMesage()">
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Neues Passwort wiederholen" [type]="'password'" formControlName="neuesPasswortWiederholung" (keyup)="computeErrorMesage()">
    </mat-form-field>
    <mat-chip-list *ngIf="errorMessage">
      <mat-chip selected [color]="warn" class="full-size-form-field">{{errorMessage}}</mat-chip>
    </mat-chip-list>
    <button mat-raised-button color="primary" class="full-size-form-field" type="submit" class="full-size-form-field" [disabled]="!!errorMessage">Passwort ändern</button>
  </form>
</mat-card>
<app-partnername></app-partnername>
<app-adduser></app-adduser>