.app-content{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30ex 1fr;
}

.content-area{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #f1f1f1;
    padding: 2ex;
}


sidebar{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1ex;
}