<div class="box theme-row error">
    <div class="box-body">
        <strong id="message-box-content">
            Es wurde bereits ein Depotwert mit der angegebenen ISIN erfasst.

            Da die ISIN intern als eindeutiger Schlüssel verwendet wird, kann ein Depotwert nicht mehrfach erfasst werden.

            Bitte überprüfen Sie die ISIN und erfassen Sie den Depotwert erneut.
        </strong>
    </div>
    <form method="get" action="/add_depotwert/">
        <button type="submit">
            Neuen Depotwert erfassen
        </button>
    </form>
</div>