<div class="box theme-row">
	<div class="box-body">
		<form role="form" action="/uebersicht_sparbuchungen/" method="post">
			<input type="hidden" name="mode" value="change_month"/>
			<div class="form-group">
				<label>Wähle Jahr</label>
				<select class="form-control" name="date" id="date">
					{% for jahr in jahre.items %}
					<option value="{{jahr.value}}"
							{% if jahr.selected %}
							selected="true"
							{% endif %}
					>{{jahr.value}}</option>
					{% endfor %}
				</select>
			</div>
			<button type="submit" value="OK">Filtern!</button>
		</form>
	</div>
</div>
{% for monats_aggregation in alles %}
<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">{{monats_aggregation.name}}</h3>
		<button class="btn-tool pull-right open_button" id="open_{{monats_aggregation.name}}"><span class="fa fa-plus"></span></button>
		<button class="btn-tool pull-right close_button" id="close_{{monats_aggregation.name}}"><span class="fa fa-minus"></span></button>
	</div>
	<div class="box-body boxcontent closed border-top" id="boxcontent_{{monats_aggregation.name}}">
		<table>
			<thead>
				<tr>
					<th>Nummer</th>
					<th>Datum</th>
					<th>Name</th>
					<th>Konto</th>
					<th class="table-wert">Wert</th>
					<th>Typ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for sparbuchung in monats_aggregation.sparbuchungen %}
				<tr>
					<td id="item_{{sparbuchung.index}}_id">{{sparbuchung.index}}</td>
					<td id="item_{{sparbuchung.index}}_datum">{{sparbuchung.datum}}</td>
					<td id="item_{{sparbuchung.index}}_name">{{sparbuchung.name}}</td>
					<td id="item_{{sparbuchung.index}}_konto">{{sparbuchung.konto}}</td>
					<td id="item_{{sparbuchung.index}}_wert" class="table-wert">{{sparbuchung.wert}} €</td>
					<td id="item_{{sparbuchung.index}}_typ">{{sparbuchung.typ}}
					<td class="flex end">
						{% if !sparbuchung.dynamisch %}
						<form onsubmit="return confirm('Willst du wirklich die Sparbuchung {{sparbuchung.name}} löschen?');" role="form" action="/add_sparbuchung/delete" method="post">
							<input type="hidden" name="database_id" value="{{database_id}}">
							<input type="hidden" name="delete_index" value="{{sparbuchung.index}}">
							<button name="action" class="btn-icon" value="delete" ><span class="fa fa-trash-o fa-large"></span></button>
						</form>
						<form role="form" action="/add_sparbuchung/" method="post">
							<input type="hidden" name="database_id" value="{{database_id}}">
							<input type="hidden" name="edit_index" value="{{sparbuchung.index}}">
							<button type="submit" class="btn-icon" id="edit_{{sparbuchung.index}}" name="action" value="edit" ><span class="fa fa-pencil fa-large"></span></button>
						</form>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endfor %}
