<div class="login-page">
  <div class="login-page-content">
    <div class="logo">
      <img alt="BudgetButlerWeb" src="../../../../assets/logo.svg">
    </div>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Ausloggen ...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button class="full-height" color="primary" mat-raised-button (click)="toLogin()">
          Erneut Anmelden
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
