<div class="login-page">
  <div class="login-page-content">
    <div class="logo">
      <img src="assets/logo.svg" alt="BudgetButlerWeb">
    </div>
    <mat-card class="login-card">
      <mat-card-title>LOGIN</mat-card-title>
      <p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" name="email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password"
              name="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="full-height" *ngIf="!authService.isLoggedIn">Login</button>
        </form>
    </mat-card>
  </div>
</div>