
.desktop-menu {
    padding: 1ex;
}

.greeter {
    padding-left: 2ex;
    width: 100%;
}

.navigation-button {
    width: 100%;
    text-align: start;
}


.navigation {
    padding-top: 3ex;
}

.sublinklist {
    margin-left: 3ex;
    margin-bottom: 1.5ex;
    display: grid;
}

h2 {
    padding: 1ex;
}

mat-drawer {
    height: 100%;
    position: fixed;
}

.open-menu-button {
    padding: 1ex;
    width: 100%
}
