
.desktop-menu {
  padding: 1ex;
}

.greeter {
  padding-left: 2ex;
  width: 100%;
}

.navigation-button {
  width: 100%;
  display: block;
  text-align: start;
}


.navigation {
  padding-top: 3ex;
}

h2 {
  padding: 1ex;
}

mat-sidenav {
  height: 100%;
  position: fixed;
}
