<mat-card *ngIf="isAdmin | async" class="erfassung">
  <form [formGroup]="newUserForm" (ngSubmit)="onNewUserSubmit()">
    <mat-card-title>Neuen Benutzer erstellen</mat-card-title>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Nutzername" formControlName="username" required>
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Passwort" [type]="'password'" formControlName="passwort" (change)="computeErrorMesage()" required>
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Passwort wiederholen" [type]="'password'" formControlName="passwortWiederholung" (change)="computeErrorMesage()" required>
    </mat-form-field>
    <mat-chip-list *ngIf="errorMessage">
      <mat-chip selected [color]="warn" class="full-size-form-field">{{errorMessage}}</mat-chip>
    </mat-chip-list>
    <button mat-raised-button color="primary" class="full-size-form-field" type="submit" class="full-size-form-field" [disabled]="!!errorMessage">Nutzer erstellen</button>
  </form>
</mat-card>