<div class="theme-double-columns">
  <div class="box">
	  <div class="box-header">
		  <h3 class="box-title">Abrechnungszeitraum</h3>
	  </div>
	  <div class="box-body border-top">
	    <form role="form" action="/gemeinsamabrechnen/" method="post">
			<input value="{{set_self_kategorie_value}}" type="hidden" name="set_self_kategorie_value"/>
			<input value="{{set_other_kategorie_value}}" type="hidden" name="set_other_kategorie_value"/>
			<input value="{{set_titel}}" type="hidden" name="set_titel"/>
            {% if set_limit %}
                <input value="on" type="hidden" name="set_limit"/>
                <input value="{{set_limit_fuer}}" type="hidden" name="set_limit_fuer"/>
                <input type="hidden" name="set_limit_value" id="set_limit_value" min="0" max="2000" value="{{ set_limit_value }}"/>
            {% endif %}
            <input value="{{set_verhaeltnis}}" type="hidden" name="set_verhaeltnis"/>
        <p><div id="abrechnungsinfo">{{gesamt_count}} Einträge im Zeitraum von {{mindate}} bis {{maxdate}} stehen zur Abrechnung bereit.</div></p>
        <p><div id="set_abrechnungsinfo">{{set_count}} Einträge im Zeitraum von {{set_mindate}} bis {{set_maxdate}} sind zur Abrechnung ausgewählt.</div></p>
			  <div class="box-body">
				  <div class="form-group">
					  <label>Startdatum (einschließich):</label>
					  <input value="{{set_mindate_rfc}}" type="date" min="2000-01-01" max="2030-12-31" name="set_mindate" class="form-control" required="required" autofocus="autofocus"/>
				  </div>
				  <div class="form-group">
					  <label>Endedatum (einschließich):</label>
					  <input value="{{set_maxdate_rfc}}" type="date" min="2000-01-01" max="2030-12-31" name="set_maxdate" class="form-control" required="required" autofocus="autofocus"/>
				  </div>
			  </div>
			  <div class="box-footer">
				  <button type="submit" name="action" value="add" id="add">Abrechnung vorbereiten</button>
			  </div>
		  </form>
    </div>
  </div>
    <div class="box">
	  <div class="box-header">
		  <h3 class="box-title">Abrechnungsverhältnis</h3>
	  </div>
	  <div class="box-body border-top">
	    <form role="form" action="/gemeinsamabrechnen/" method="post">
            <input value="{{set_mindate_rfc}}" type="hidden" name="set_mindate"/>
            <input value="{{set_maxdate_rfc}}" type="hidden" name="set_maxdate"/>
			  <div class="box-body">
				  <p>
					  <label>Anteil, den {{myname}} übernimmt (in Prozent):</label>
					 <input class="form-control inline-form-control" type="number" name="set_verhaeltnis" min="0" max="100" required="required" id="abrechnungsverhaeltnis" value="{{ set_verhaeltnis }}"/>
				  </p>
				  <p>
					  <label>Titel der Abrechnung:</label>
					  <input class="form-control inline-form-control" type="text" name="set_titel" required="required" id="set_titel" value="{{ set_titel }}">
				  </p>
				  <label>Erweiterte Einstellungen</label>
				  <p>
					  {% if set_limit %}
						<input type="checkbox" name="set_limit" id="set_limit" checked="checked"/>
					  {% else %}
						<input type="checkbox" name="set_limit" id="set_limit"/>
					  {% endif %}
					  Limit setzen für
					  <select name="set_limit_fuer" id="set_limit_fuer" class="form-control inline-form-control">
						  {% if set_limit_fuer  == myname %}
							 <option value="{{ myname }}" selected="selected">{{myname}}</option>
							 <option value="{{ partnername }}">{{partnername}}</option>
						  {% else %}
							 <option value="{{ myname }}">{{myname}}</option>
							 <option value="{{ partnername }}" selected="selected">{{partnername}}</option>
						  {% endif %}
					 </select>
					  mit einem Wert von
					  -<input type="number" name="set_limit_value" id="set_limit_value" min="0" max="9999" value="{{ set_limit_value }}" class="form-control inline-form-control"/>
					Euro.
				  </p>
				  <p>
                      <input type="checkbox" name="set_self_kategorie" checked="checked" id="set_self_kategorie" disabled/>
					  von paritätischer Teilung abweichender Geldanteil<br/>bei der Abrechnung in der eigenen Datenbank als
					  <select name="set_self_kategorie_value" id="set_self_kategorie_value" class="form-control inline-form-control">
						  {% for kategorie in kategorien.items %}
							  {% if kategorie.selected %}
								  <option value="{{ kategorie.value }}" selected="selected">{{ kategorie.value }}</option>
							  {% else %}
								  <option value="{{ kategorie.value }}">{{ kategorie.value }}</option>
							  {% endif %}
						  {% endfor %}
					  </select>importieren.
				  </p>
				  <p>
					  <input type="checkbox" name="set_other_kategorie" id="set_other_kategorie" checked="checked" disabled/>
					  von paritätischer Teilung abweichender Geldanteil<br/>bei der Abrechnung in der Partnerdatenbank als
					  <input type="text" name="set_other_kategorie_value" id="set_other_kategorie_value" value="{{ set_other_kategorie_value }}" class="form-control inline-form-control"/> importieren.
				  </p>
			  </div>
			  <div class="box-footer">
				  <button type="submit" name="action" value="add" id="abrechnung_aktualisieren">Abrechnung aktualisieren</button>
              </div>
        </form>
      </div>
    </div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Ausgaben pro Person</h3>
		</div>
		<div class="box-body border-top">
			<table class="table">
				<thead>
					<tr>
						<th>Person</th>
						<th class="table-wert">Ausgegeben</th>
						<th class="table-wert">Ausgegeben Soll</th>
						<th class="table-wert">Differenz</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{partnername}}</td>
						<td class="table-wert" id="ausgabe_partner">{{ausgabe_partner}}</td>
						<td class="table-wert" id="ausgabe_partner_soll">{{partner_soll}}</td>
						<td class="table-wert" id="ausgabe_partner_diff">{{partner_diff}}</td>
					</tr>
					<tr>
						<td>{{myname}}</td>
						<td class="table-wert" id="ausgabe_self">{{ausgabe_self}}</td>
						<td class="table-wert" id="ausgabe_self_soll">{{self_soll}}</td>
						<td class="table-wert" id="ausgabe_self_diff">{{self_diff}}</td>
					</tr>
				</tbody>
				<tfooter>
					<tr>
						<td>Gesamt</td>
						<td class="table-wert">{{ausgabe_gesamt}}</td>
					</tr>
				</tfooter>
			</table>
		</div>
	</div>
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Getätigte Ausgaben prozentual</h3>
		</div>
		<div class="box-body border-top">
			<div class="chart-responsive">
				<canvas id="zusammenfassungPie" height="200"></canvas>
				<script>
					var pieData = {
					labels:["{{myname}}","{{partnername}}"],
					datasets: [
					{
					data: [{{ausgabe_self_prozent}},{{ausgabe_partner_prozent}}],
					backgroundColor: ['#00a65a','#f56954'],
					}],
					};
					var canvas = document.getElementById("zusammenfassungPie");
					var myLineChart = new Chart(canvas, {
					type: 'pie',
					data: pieData,
					options: {
					responsive: true,
					maintainAspectRatio: false,
					}});
				</script>
			</div>
		</div>
	</div>
</div>
<div class="box">
	<div class="box-header">
		<h3 class="box-title">Ergebnis</h3>
	</div>
	<div class="box-body border-top preserve-breaks">
		{{ergebnis}}
	</div>
	<form role="form" action="/abrechnen/" method="post">
		<div class="box-footer clearfix">
			<input value="{{set_mindate_rfc}}" type="hidden" name="set_mindate"/>
			<input value="{{set_maxdate_rfc}}" type="hidden" name="set_maxdate"/>
			<input value="{{self_soll_rfc}}" type="hidden" name="set_self_ausgabe"/>
			<input value="{{ergebnis}}" type="hidden" name="set_ergebnis"/>
			<input value="{{set_titel}}" type="hidden" name="set_titel"/>
			<input value="{{set_verhaeltnis_real}}" type="hidden" name="set_verhaeltnis"/>
			<input value="{{set_self_kategorie_value}}" type="hidden" name="set_self_kategorie"/>
			<input value="{{set_other_kategorie_value}}" type="hidden" name="set_other_kategorie"/>
			<input type="hidden" name="database_id" value="{{database_id}}">
			<button type="submit" id="abrechnen">Jetzt Abrechnen!</button>
		</div>
	</form>
</div>
