<div class='box'>
	<div class='box-header'>
		<h3 class='box-title'>Ein Fehler ist aufgetreten</h3>
	</div>
	<div class='box-body pad'>
		Die Änderung des Datensatzes betrifft eine veraltete Version der Datenbank. Aus diesem Grund wurde die Verarbeitung der Anfrage abgebrochen. Bitte kontrollieren Sie die Änderungen und führen die Aktion ggf. erneut aus.
	</div>
</div>
<div class='box'>
	<div class='box-header'>
		<h3 class='box-title'>Wann tritt so ein Fehler auf?</h3>
	</div>
	<div class='box-body pad'>
	Dieser Fehler tritt bei der Bearbeitung der Daten in mehreren Tabs oder beim häufigen Vor- und Zurücknavigieren auf.
	</div>
</div>
