
<!-- Main content -->
<section class="content">
  <!-- Info boxes -->

  <div class="row">
    <div class="col-md-12">
      <!-- Tabelle letzte Buchungen -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Aktueller Monat</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Nummer</th>
                  <th>Datum</th>
                  <th>Name</th>
                  <th>Kategorie</th>
                  <th>Wert</th>
                  <th>Person</th>
                  <th>Aktion</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for ausgabe in ausgaben %}
                <tr>
                  <td>{{ausgabe.0}}</td>
                  <td>{{ausgabe.1}}</td>
                  <td>{{ausgabe.2}}</td>
                  <td>{{ausgabe.3}}</td>
                  <td><span class="label label-success">{{ausgabe.4}}</span></td>
                  <td><span class="label label-success">{{ausgabe.5}}</span></td>
                   	<td>
                   	<form role="form" action="/addgemeinsam/" method="post">
                  	{% csrf_token %}
                  		<input type="hidden" name="edit_index" value="{{ausgabe.0}}">
                  		<button type="submit" name="action" value="edit" ><i class="fa fa-pencil"></i></button>
                    </form>
                    </td>
                   <td>
                  	<form onsubmit="return confirm('Willst du wirklich den Eintrag {{ausgabe.2}} löschen?');" role="form" action="/gemeinsameuebersicht/" method="post">
                  	{% csrf_token %}
                  		<input type="hidden" name="delete_index" value="{{ausgabe.0}}">
                  		<button name="action" value="delete" ><i class="fa fa-trash-o"></i></button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="/addgemeinsam/" class="btn btn-sm btn-info btn-flat pull-left">Neue gemeinsame Buchung</a>
        </div><!-- /.box-footer -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</section><!-- /.content -->
