<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Abrechnungszeitraum</h3>
	</div>
	<div class="box-body">
	  <form role="form" action="/gemeinsamabrechnen/" method="post">
      <div id="abrechnungsinfo">{{count}} Einträge im Zeitraum von {{mindate}} bis {{maxdate}} stehen zur Abrechnung bereit.</div>
      <div id="set_abrechnungsinfo">{{set_count}} Einträge im Zeitraum von {{set_mindate}} bis {{set_maxdate}} sind zur Abrechnung ausgewählt.</div>
			<div class="box-body">
				<div class="form-group">
					<label>Startdatum (einschließich):</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
						<input value="{{set_mindate}}" type="date" min="2000-01-01" max="2030-12-31" name="date" class="form-control" required="required" autofocus="autofocus"/>
					</div>
				</div>
				<div class="form-group">
					<label>Endedatum (einschließich):</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
						<input value="{{set_maxdate}}" type="date" min="2000-01-01" max="2030-12-31" name="date" class="form-control" required="required" autofocus="autofocus"/>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<button type="submit" name="action" value="add" id="add" class="btn bordered-hover">Abrechnung vorbereiten</button>
			</div>
		</form>
  </div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Ausgaben pro Person</h3>
		</div>
		<div class="box-body">
			<div class="table-responsive">
				<table class="table no-margin">
					<thead>
						<tr>
							<th>Person</th>
							<th class="table-wert">Ausgegeben</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{partnername}}</td>
							<td class="table-wert">{{ausgabe_maureen}}</td>
						</tr>
						<tr>
							<td>{{myname}}</td>
							<td class="table-wert">{{ausgabe_sebastian}}</td>
						</tr>
					</tbody>
					<tfooter>
						<tr>
							<td>Gesamt</td>
							<td class="table-wert">{{ausgabe_gesamt}}</td>
						</tr>
					</tfooter>
				</table>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Ausgaben nach Person</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="zusammenfassungPie" height="200"></canvas>
				<script>
					var pieData = {
					labels:["{{myname}}","{{partnername}}"],
					datasets: [
					{
					data: [{{ausgabe_sebastian}},{{ausgabe_maureen}}],
					backgroundColor: ['#00a65a','#f56954'],
					}],
					};
					var canvas = document.getElementById("zusammenfassungPie");
					var myLineChart = new Chart(canvas, {
					type: 'pie',
					data: pieData,
					options: {
					responsive: true,
					maintainAspectRatio: false,
					}});
				</script>
			</div>
		</div>
	</div>
</div>
<div class='theme-double-columns'>
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Ergebnis</h3>
		</div>
		<div class="box-body">
			{{ergebnis}}
		</div>
		<div class="box-footer clearfix">
			<a href="/abrechnen" class="btn bordered-hover pull-left">Jetzt Abrechnen!</a>
		</div>
	</div>
</div>
