<div class='box theme-row'>
	<div class='box-header'>
		<h3 class='box-title'> Datensatz hier einfügen (z.B. gemeinsame Abrechnung):</h3>
	</div>
	<div class='box-body pad'>
		<form  id="form1" action="/import/" method="post">
			<div class="box-footer">
				<textarea  name='import' class="textarea" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
				<button type="submit" value="OK" name="btn_import" class="btn bordered-hover">Daten aus Abrechnung importieren</button>
			</div>
		</form>
	</div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Online Einzelbuchungen importieren</h3>
		</div>
		<form role="form" action="/import/" method="post">
			<div class="box-body">
				<div class="form-group">
					<label>Server</label> <input type="text" name="server" class="form-control" value="{{ONLINE_DEFAULT_SERVER}}"/>
					<label>Email</label> <input type="text" name="email" class="form-control" value="{{ONLINE_DEFAULT_USER}}"/>
					<label>Passwort</label> <input type="password" name="password" class="form-control"/>
				</div>
				</div>
			<div class="box-footer">
				<button type="submit" name="action" value="load_online_transactions" id="load_online_transactions" class="btn bordered-hover">Daten importieren</button>
			</div>
		</form>
	</div>
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Online gemeinsame Buchungen importieren</h3>
		</div>
		<form role="form" action="/import/" method="post">
			<div class="box-body">
				<div class="form-group">
					<label>Server</label> <input type="text" name="server" class="form-control" value="{{ONLINE_DEFAULT_SERVER}}"/>
					<label>Email</label> <input type="text" name="email" class="form-control" value="{{ONLINE_DEFAULT_USER}}"/>
					<label>Passwort</label> <input type="password" name="password" class="form-control"/>
				</div>
				</div>
			<div class="box-footer">
				<button type="submit" name="action" value="load_online_gemeinsame_transactions" id="load_online_gemeinsame_transactions" class="btn bordered-hover">Daten aktualisieren</button>
			</div>
		</form>
	</div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Online Kategorien installieren</h3>
		</div>
		<form role="form" action="/import/" method="post">
			<div class="box-body">
				<div class="form-group">
					<label>Server</label> <input type="text" name="server" class="form-control" value="{{ONLINE_DEFAULT_SERVER}}"/>
					<label>Email</label> <input type="text" name="email" class="form-control" value="{{ONLINE_DEFAULT_USER}}"/>
					<label>Passwort</label> <input type="password" name="password" class="form-control"/>
				</div>
				</div>
			<div class="box-footer">
				<button type="submit" name="action" value="set_kategorien" id="set_kategorien" class="btn bordered-hover">Daten aktualisieren</button>
			</div>
		</form>
	</div>
</div>
<div class="box theme-row">
	<div class="box-header with-border">
		<h3 class="box-title">Letzte importierte Erfassungen</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Nummer</th>
						<th>Datum</th>
						<th>Name</th>
						<th>Kategorie</th>
						<th>Wert</th>
					</tr>
				</thead>
				<tbody>
					{% for ausgabe in ausgaben %}
					<tr>
						<td>{{ausgabe.0}}</td>
						<td>{{ausgabe.1}}</td>
						<td>{{ausgabe.2}}</td>
						<td>{{ausgabe.3}}</td>
						<td>{{ausgabe.4}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="box-footer clearfix">
		<a href="/uebersicht/" class="btn btn-light pull-right">Alle persönlichen Einzelbuchungen ansehen</a>
	</div>
</div>
