  <div class='row'>
    <div class='col-md-12'>
      <div class='box'>
        <div class='box-header'>
          <h3 class='box-title'> Generierte Abrechnung: <small>Simple and fast</small></h3>
          <!-- tools box -->
          <div class="pull-right box-tools">
            <button class="btn btn-default btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><span class="fa fa-minus"></i></button>
          </div><!-- /. tools -->
        </div><!-- /.box-header -->
        <div class='box-body pad'>
			{{abrechnungstext|safe}}
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- ./row -->
