<div class="row">
	<!-- left column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box">
			<form role="form" action="/jahresuebersicht/" method="post">
				{% csrf_token %} <input type="hidden" name="mode" value="change_month">
				<div class="box-body">
					<div class="form-group">
						<label>Wähle Jahr</label> <select class="form-control" name="date" id="date"> {% for jahr in jahre %}
							<option value="{{jahr}}">{{jahr}}</option> {% endfor %}
						</select>
					</div>
				</div>
				<!-- /.box-body -->
				<script type="text/javascript">

				function SelectElement()
				{    
				    var element = document.getElementById('date');
				    element.value = "{{selected_date}}";
				}
				SelectElement()
				</script>

				<div class="box-footer">
					<button type="submit" value="OK" class="btn bordered-hover">Filtern!</button>
				</div>
			</form>
		</div>
		<!-- /.box -->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Durchschnittliche Ausgaben pro Monat</h3>
			</div>
			<canvas id="averagecanvas" style="display: block; width: 100%; height: 450px;"></canvas>
		</div>
	</div>
</div>
<script>
var color = Chart.helpers.color;
var barChartData = {
    labels: {{durchschnitt_monat_kategorien|safe}},
    datasets: [{
        label: 'Wert',
        backgroundColor: color('red').alpha(0.5).rgbString(),
        borderColor: 'red',
        borderWidth: 1,
        data: {{durchschnittlich_monat_wert|safe}}
    }]

};

window.onload = function() {
    var ctx = document.getElementById("averagecanvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

};


</script>
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Buchungen {{jahr}}</h3>
			</div>
			<canvas id="buchungenCanvas" style="display: block; width: 100%; height: 450px;"></canvas>
			<script> 
				var salesChartData = {
						labels: {{monats_namen|safe	}},
						datasets: [
							{% for dataset in buchungen %}
							{
								label: '{{dataset.kategorie}}',
								pointBorderColor: "{{dataset.farbe}}",
								borderColor: "{{dataset.farbe}}",
								pointStrokeColor: "{{dataset.farbe}}",
								data: {{dataset.wert|safe}}
							},
							{%endfor%}
						]
					};
					var canvas = document.getElementById("buchungenCanvas");
					new Chart(canvas, {
						type: 'line',
						data: salesChartData,
						options: {
						responsive: true,
					}});
			</script>
		</div>
	</div>
	<!-- /.col -->
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Einnahmen</h3>
			</div>
			<canvas id="lineChartCanvasEinnahmen" style="display: block; width: 100%; height: 450px;"></canvas>
			<script> 
				var salesChartData = {
						labels: {{monats_namen|safe	}},
						datasets: [
							{% for key,val in einnahmen.items %}
							{
								label: '{{key}}',
								pointBorderColor: "#{{val.farbe}}",
								borderColor: "#{{val.farbe}}",
								pointStrokeColor: "#{{val.farbe}}",
								data: {{val.values}}
							},
							{%endfor%}
						]
					};
					var canvas = document.getElementById("lineChartCanvasEinnahmen");
					new Chart(canvas, {
						type: 'line',
						data: salesChartData,
						options: {
						responsive: true,
					}});
			</script>
		</div>

	</div>
	<!-- /.col -->
</div>
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Ausgaben</h3>
			</div>
			<canvas id="lineChartCanvas" style="display: block; width: 100%; height: 450px;"></canvas>
			<script> 
				var salesChartData = {
						labels: {{monats_namen|safe	}},
						datasets: [
							{% for key,val in ausgaben.items %}
							{
								label: '{{key}}',
								pointBorderColor: "#{{val.farbe}}",
								borderColor: "#{{val.farbe}}",
								pointStrokeColor: "#{{val.farbe}}",
								data: {{val.values}}
							},
							{%endfor%}
						]
					};
					var canvas = document.getElementById("lineChartCanvas");
					new Chart(canvas, {
						type: 'line',
						data: salesChartData,
						options: {
						responsive: true,
					}});
			</script>
		</div>

	</div>
	<!-- /.col -->
</div>
<div class="row">
	<div class="col-md-6">
		<!-- Tabelle letzte Buchungen -->
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Ausgaben</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<span class="fa fa-minus"></span>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<form role="form" action="/jahresuebersicht/" method="post">
					{% csrf_token %} <input type="hidden" name="mode" value="change_selected"> <input type="hidden" name="date"
						value="{{selected_date}}">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>Kategorie</th>
									<th class="table-wert">Wert</th>
								</tr>
							</thead>
							<tbody>
								{% for ausgabe in zusammenfassung_ausgaben %}
								<tr>
									<td style="vertical-align: middle"><span class="fa fa-circle" style="color: #{{ausgabe.2}};"></span> {{ausgabe.0}}</td>
									<td style="vertical-align: middle" class="table-wert">{{ausgabe.1}}</td>
								</tr>
								{% endfor %}
								<tfooter>
								<tr>
									<td style="vertical-align: middle">Summe</td>
									<td style="vertical-align: middle" class="table-wert">{{gesamt_ausgaben}}</td>
									<td/>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
								</tfooter>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</form>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>

	<div class="col-md-6">
		<!-- Tabelle letzte Buchungen -->
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Einnahmen</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<span class="fa fa-minus"></span>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>Kategorie</th>
									<th class="table-wert">Wert</th>
								</tr>
							</thead>
							<tbody>
								{% for ausgabe in zusammenfassung_einnahmen %}
								<tr>
									<td style="vertical-align: middle"><span class="fa fa-circle" style="color: #{{ausgabe.2}};"></span> {{ausgabe.0}}</td>
									<td style="vertical-align: middle" class="table-wert">{{ausgabe.1}}</td>
								</tr>
								{% endfor %}
								<tfooter>
								<tr>
									<td style="vertical-align: middle">Summe</td>
									<td style="vertical-align: middle" class="table-wert">{{gesamt_einnahmen}}</td>
								</tr>
								</tfooter>
							</tbody>
						</table>
					</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>


</div>
<!-- /.row -->
<div class='row'>
  <div class='col-md-6'>
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Ausgaben {{selected_date}} Prozentual</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="chart-responsive">
              <canvas id="zusammenfassungPieProzentualAusgaben" height="400"></canvas>
            </div>
          </div>
        </div>
      </div><!-- /.box -->
      <script> 
           var pieData = {
             labels:{{pie_ausgaben_labels|safe}},
             datasets: [{
               data: {{pie_ausgaben_data_prozentual|safe}},
               backgroundColor: {{pie_ausgaben_colors|safe}},
             }],
           };
           var canvas = document.getElementById("zusammenfassungPieProzentualAusgaben");
           new Chart(canvas, {
             type: 'pie',
             data: pieData,
             options: {
               responsive: true,
               maintainAspectRatio: false,
           }});
      </script>
    </div>
  </div><!-- /.col -->  

  <div class='col-md-6'>
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Einnahmen {{selected_date}} Prozentual</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="chart-responsive">
              <canvas id="zusammenfassungPieProzentualEinnahmen" height="400"></canvas>
            </div>
          </div>
        </div>
      </div><!-- /.box -->
      <script> 
           var pieData = {
             labels:{{pie_einnahmen_labels|safe}},
             datasets: [{
               data: {{pie_einnahmen_data_prozentual|safe}},
               backgroundColor: {{pie_einnahmen_colors|safe}},
             }],
           };
           var canvas = document.getElementById("zusammenfassungPieProzentualEinnahmen");
           new Chart(canvas, {
             type: 'pie',
             data: pieData,
             options: {
               responsive: true,
               maintainAspectRatio: false,
           }});
      </script>
    </div>
  </div><!-- /.col -->  
</div>

