<div class="row">
	<!-- left column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Neue Ausgabe</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form" action="/jahresuebersicht/" method="post">{% csrf_token %}
			<input type="hidden" name="ID" value="{{ID}}">
			<input type="hidden" name="mode" value="change_month">
				<div class="box-body">
					<div class="form-group">
						<label>Wähle Jahr</label> <select class="form-control" name="date" id="date">
						 {% for jahr in jahre %}
							<option value="{{jahr}}">{{jahr}}</option>
						 {% endfor %}
						</select>
					</div>
				</div>
				<!-- /.box-body -->
				<script type="text/javascript">

				function SelectElement()
				{    
				    var element = document.getElementById('date');
				    element.value = "{{selected_date}}";
				}
				SelectElement()
				</script>

				<div class="box-footer">
					<button type="submit" value="OK" class="btn btn-primary">Filtern!</button>
				</div>
			</form>
		</div>
		<!-- /.box -->
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class="box">
			<canvas id="lineChart" height="450" width="1500"></canvas>
				<script> 
	                var salesChartData = {
	                	    labels: {{monats_namen|safe	}},
	                	    datasets: [
	                	    	{% for kategorie,wert,farbe in ausgaben %}
	                            {
	                                label: '{{kategorie}}',
	                                pointBorderColor: "#{{farbe}}",
	                                borderColor: "#{{farbe}}",
	                                pointStrokeColor: "#{{farbe}}",
	                                data: {{wert}}]
	                            },
	                            {%endfor%}
	                	    ]
	                	  };
	                var canvas = document.getElementById("lineChart");
	                var myLineChart = new Chart(canvas, {
	                	type: 'line',
	                    data: salesChartData,
	                    options: {
	                    	responsive: true,
	                    	maintainAspectRatio: false,
	                }});
                </script>
  </div>
              
            </div><!-- /.col -->
           </div>
  
                        


  <div class="row">
    <div class="col-md-6">
      <!-- Tabelle letzte Buchungen -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Kategorien</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
        <form role="form" action="/jahresuebersicht/" method="post">{% csrf_token %}
        <input type="hidden" name="mode" value="change_selected">
        <input type="hidden" name="date" value="{{selected_date}}">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Kategorie</th>
                  <th align="right">Wert</th>
                  <th>Visualisiert</th>
                </tr>
              </thead>
              <tbody>
                {% for ausgabe in zusammenfassung %}
                <tr>
                  <td style="vertical-align:middle"><font size="5" color="{{ausgabe.3}}">&#x25cf;</font>{{ausgabe.0}}</td>
                  <td style="vertical-align:middle" align="right">{{ausgabe.1}}</td>
                  <td style="vertical-align:middle"> <input type="checkbox" name="{{ausgabe.0}}" {{ausgabe.2}}> </td>
                </tr>
                {% endfor %}
                <tfooter>
                 <tr>
                  <td style="vertical-align:middle"><font size="5" color="{{summe_color}}">&#x25cf;</font>Summe</td>
                  <td style="vertical-align:middle" align="right">{{gesamt}}</td>
                  <td> <input type="checkbox" name="Summe" {{gesamt_enabled}}> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td><button type="submit" value="OK" class="btn btn-primary">Filtern!</button></td>
                </tr>
                </tfooter>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
          </form>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
        </div><!-- /.box-footer -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class='row'>
            <div class='col-md-6'>
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Ausgaben {{selected_date}} Prozentual</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="chart-responsive">
                        <canvas id="zusammenfassungPieProzentual" height="400"></canvas>
                      </div><!-- ./chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                </div><!-- /.footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->
   <script> 
	   var pieData = {
		  labels:{{pie_ausgaben_labels|safe}},
		  datasets: [
		        {
		            data: {{pie_ausgaben_data_prozentual|safe}},
		            backgroundColor: {{pie_ausgaben_colors|safe}},
		        }],
	   };
	   var canvas = document.getElementById("zusammenfassungPieProzentual");
       var myLineChart = new Chart(canvas, {
       	type: 'pie',
           data: pieData,
           options: {
           	responsive: true,
           	maintainAspectRatio: false,
       }});
	   
   </script>
            <div class='col-md-6'>
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Alle erfassten Ausgaben Prozentual</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="chart-responsive">
                        <canvas id="zusammenfassungAllesPieProzentual" height="400"></canvas>
                      </div><!-- ./chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                </div><!-- /.footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->
           </div>
   <script> 
	   var pieData = {
		  labels:{{pie_ausgaben_labels|safe}},
		  datasets: [
		        {
		            data: {{pie_alle_ausgaben_data_prozentual|safe}},
		            backgroundColor: {{pie_ausgaben_colors|safe}},
		        }],
	   };
	   var canvas = document.getElementById("zusammenfassungAllesPieProzentual");
       var myLineChart = new Chart(canvas, {
       	type: 'pie',
           data: pieData,
           options: {
           	responsive: true,
           	maintainAspectRatio: false,
       }});
	   
   </script>
