---
---

@import "{{ site.theme }}";

a {
  color: #0c884c;
}

.wrapper, .wrapper > * {
  max-width: 1100px;
  width: 90%;
  min-width: 400px;
}

body {
  background: #0c131a;
  color: white;
  line-height: 1.8;
}

header {
  background: #355473;
  color: white;
}

img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img[alt~="GithubCI"]{
  width: unset;
}

li {
  margin-bottom: 1ex;
}

h2 {
  margin-top: 7ex;
}

h3 {
  margin-top: 5ex;
}

h4 {
  margin-top: 5ex;
  font-size: larger;
}
