<div class="login-page">
  <div class="login-page-content">
    <div class="logo">
      <img alt="BudgetButlerWeb" src="../../../../assets/logo.svg">
    </div>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <a href="/api/login/oauth2/authorization/oidc">
        <button class="full-height" color="primary" mat-raised-button>
          Click to Login
        </button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
