<div class="login-page">
  <div class="login-page-content">
    <div class="logo">
      <img alt="BudgetButlerWeb" ngSrc="/assets/logo.svg" height="1333" width="1333">
    </div>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Lokales Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="navigate()" [disabled]="disabled$ | async">Lokale Anwendung
          authentifizieren<br>
          {{visibleLocalLoginUrl$ | async}}
        </button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="warn" (click)="navigate()" [disabled]="disabled$ | async">Authentifizierung ablehnen<br>
          {{visibleLocalLoginUrl$ | async}}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

