<mat-card class="erfassung">
  <form>
    <mat-card-title>Passwort ändern</mat-card-title>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Altes Passwort" [type]="'password'" [formControl]="altesPasswort" [errorStateMatcher]="passwortMatcher">
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Neues Passwort" [type]="'password'" [formControl]="neuesPasswort" [errorStateMatcher]="passwortMatcher" (change)="computeErrorMesage()">
    </mat-form-field>
    <mat-form-field class="full-size-form-field">
      <input matInput placeholder="Neues Passwort wiederholen" [type]="'password'" [formControl]="neuesPasswortWiederholung" [errorStateMatcher]="passwortMatcher" (change)="computeErrorMesage()">
    </mat-form-field>
    <mat-chip-list *ngIf="errorMessage">
      <mat-chip selected [color]="warn" class="full-size-form-field">{{errorMessage}}</mat-chip>
    </mat-chip-list>
    <button mat-raised-button color="primary" class="full-size-form-field" (click)="changePassword()" class="full-size-form-field" [disabled]="!!errorMessage">Passwort ändern</button>
  </form>
</mat-card>

<app-adduser></app-adduser>