<div class="input-theme">
	<div class="box input-box">
		<div class="box-header">
			<h3 class="box-title">Neue Order</h3>
		</div>
		<form role="form" action="/add_orderdauerauftrag/" method="post">
			<input type="hidden" name="ID" value="{{ID}}">
			<div class="box-body">
				<div class="form-group">
					<label>Startdatum:</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
						<input value="{{default_item.startdatum}}" type="date" min="2000-01-01" max="2030-12-31" name="startdatum" class="form-control" required="required" autofocus="autofocus"/>
					</div>
				</div>
				<div class="form-group">
					<label>Endedatum:</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="fa fa-calendar"></span>
						</div>
						<input value="{{default_item.endedatum}}" type="date" min="2000-01-01" max="2030-12-31" name="endedatum" class="form-control" required="required" autofocus="autofocus"/>
					</div>
				</div>
				<div class="form-group">
					<label>Name</label> <input value="{{default_item.name}}" type="text" name="name" class="form-control" placeholder="" required="required" />
				</div>
				<div class="form-group">
					<label>Rhythmus</label> <select value="{{default_item.Rhythmus}}" class="form-control" name="rhythmus">
					 {% for rhythmus in rhythmen %}
						<option
						{% if bearbeitungsmodus and default_item.rhythmus == rhythmus%}
						selected="selected"
						{% endif %}
						>{{rhythmus}}</option>
					 {% endfor %}
					</select>
				</div>
				{% if bearbeitungsmodus %}
				<input type="hidden" name="edit_index" value="{{default_item.edit_index}}">
				{% endif %}
				<div class="form-group">
					<label>Depotwert</label>
					<select class="form-control" name="depotwert" id="depotwert_auswahl">
						 {% for depotwert in depotwerte %}
						<option
								value="{{depotwert.isin}}"
								{% if bearbeitungsmodus and depotwert.isin == default_item.depotwert%}
								selected="selected"
								{% endif %}
								>{{depotwert.description}}</option>
						 {% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Depot</label>
					<select class="form-control" name="konto" id="konto_auswahl">
						 {% for konto in kontos %}
						<option
							{% if bearbeitungsmodus and konto == default_item.konto%}
							selected="selected"
							{% endif %}
							>{{konto}}</option>
						 {% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Typ</label>
					<select class="form-control" name="typ" id="typ_auswahl">
						 {% for typ in typen %}
						<option
							{% if bearbeitungsmodus and typ == default_item.typ%}
							selected="selected"
							{% endif %}
							>{{typ}}</option>
						 {% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Wert</label> <input value="{{default_item.wert}}" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" name="wert" class="form-control" placeholder="" required="required" />
				</div>
			</div>
			<div class="box-footer">
				<button type="submit" name="action" value="add" id="add" class="btn bordered-hover">{{approve_title}}</button>
			</div>
		</form>
	</div>
	<div class="box last-elements-box">
	  <div class="box-header">
		  <h3 class="box-title">Letzte Erfassungen</h3>
	  </div>
	  <div class="box-body">
		  <div class="table-responsive">
			  <table class="table no-margin" id="letzte_erfassungen">
				  <thead>
					  <tr>
						  <th></th>
						  <th>Startdatum</th>
						  <th>Endedatum</th>
						  <th>Rhythmus</th>
						  <th>Name</th>
						  <th>Depotwert</th>
						  <th>Depot</th>
						  <th>Typ</th>
						  <th class="table-wert">Wert</th>
					  </tr>
				  </thead>
				  <tbody>
					  {% for order in letzte_erfassung %}
					  <tr>
						  <td><span class="fa fa-{{order.fa}} pull-right"></span></td>
						  <td>{{order.startdatum}}</td>
						  <td>{{order.endedatum}}</td>
						  <td>{{order.rhythmus}}</td>
						  <td>{{order.name}}</td>
						  <td>{{order.depotwert}}</td>
						  <td>{{order.konto}}</td>
						  <td>{{order.typ}}</td>
						  <td class="table-wert">{{order.wert}}</td>
					  </tr>
					  {% endfor %}
				  </tbody>
			  </table>
		  </div>
	  </div>
	  <div class="box-footer clearfix">
	  <a href="/order_uebersicht/" class="btn btn-light pull-right">Alle Buchungen ansehen</a>
	</div>
</div>
