{% for konto in default_items %}
<div class="input-theme">
	<div class="box input-box">
		<div class="box-header">
			<h3 class="box-title">Neuer Depotauszug für {{konto.konto}}</h3>
		</div>
		<form role="form" action="/add_depotauszug/" method="post">
			<input type="hidden" name="ID" value="{{ID}}">
			<input type="hidden" name="konto" value="{{konto.konto}}">
			<div class="box-body">
				<div class="form-group">
					<label>Datum:</label>
					<input value="{{konto.datum}}"
						   {% if bearbeitungsmodus %}
						   disabled
						   {% endif %}
						   type="date" min="2000-01-01" max="2030-12-31" name="datum_{{konto.konto}}" class="form-control" required="required" autofocus="autofocus"/>
						   {% if bearbeitungsmodus %}
							<input type="hidden" name="edit_index" value="{{edit_index}}">
							<input type="hidden" name="datum" value="{{konto.datum}}">
						   {% endif %}
				</div>
				{% for item in konto.filled_items%}
				<div class="form-group">
					<label>{{item.description}}</label> <input value="{{item.wert}}" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" name="wert_{{konto.konto}}_{{item.isin}}" class="form-control" placeholder="" required="required" />
				</div>
				{% endfor %}
				<div class="box input-box">
					<div class="box-header">
						<h3 class="box-title">Weitere Depotwerte</h3>
						<button class="btn-tool pull-right open_button" type="button" id="open_add_depotauszug_{{konto.konto}}"><span class="fa fa-plus"></span></button>
						<button class="btn-tool pull-right close_button" type="button" id="close_add_depotauszug_{{konto.konto}}"><span class="fa fa-minus"></span></button>
					</div>
					<div class="boxcontent closed" id="box_add_depotauszug_{{konto.konto}}">
						{% for item in konto.empty_items%}
						<div class="form-group">
							<label>{{item.description}}</label> <input value="{{item.wert}}" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" name="wert_{{item.isin}}" class="form-control" placeholder="" required="required" />
						</div>
						{% endfor %}
					</div>
			  </div>
			</div>
			<div class="box-footer">
				<button type="submit" name="action" value="add" id="add_{{konto.konto}}">{{approve_title}}</button>
			</div>
		</form>
	</div>
</div>
{% endfor %}
	<div class="box last-elements-box">
	  <div class="box-header">
		  <h3 class="box-title">Letzte Erfassungen</h3>
	  </div>
	  <div class="box-body">
		  <table class="table" id="letzte_erfassungen">
			  <thead>
				  <tr>
					  <th></th>
					  <th>Datum</th>
					  <th>Depotwert</th>
					  <th>Depot</th>
					  <th class="table-wert">Wert</th>
				  </tr>
			  </thead>
			  <tbody>
				  {% for order in letzte_erfassung %}
				  <tr>
					  <td><span class="fa fa-{{order.fa}} pull-right"></span></td>
					  <td>{{order.datum}}</td>
					  <td>{{order.depotwert}}</td>
					  <td>{{order.konto}}</td>
					  <td class="table-wert">{{order.wert}}</td>
				  </tr>
				  {% endfor %}
			  </tbody>
		  </table>
	</div>
	<div class="box-footer clearfix">
	  <a href="/order_uebersicht/" class="btn btn-light pull-right">Alle Buchungen ansehen</a>
	</div>
