<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">Übersicht</h3>
	</div>
  <div class="box-body">
	  <canvas id="gesamt_balken_canvas" class="diagramm-canvas"></canvas>
  </div>
  <script>

		var barChartData = {
			labels: {{gesamt_diagramm_labels|safe}},
			datasets: [
			{% for item in gesamt_diagramm_data%}
			{
				label: '{{item.label}}',
				data: {{item.datasets.js()|safe}},
				backgroundColor: '{{item.color}}'
			},
			{% endfor %}
			]

		};
		window.onload = function() {
			var ctx = document.getElementById('gesamt_balken_canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					maintainAspectRatio: false,
				}
			});
		};


  </script>
</div>

<div class="box theme-row">
	<div class="box-header">
		<h3 class="box-title">Entwicklung</h3>
	</div>
  <div class="box-body">
	  <canvas id="kontowert" class="diagramm-canvas"></canvas>
  </div>
  <script>

  var salesChartData = {
		labels: {{gesamt_diagramm_labels|safe}},
		datasets: [
		  {
			label: "Kontostand",
			pointBorderColor: 'rgb(0, 166, 90)',
			borderColor: 'rgb(0, 166, 90)',
			pointStrokeColor: 'rgb(0, 166, 90)',
			data: {{gesamt_linechart.kontostand.js()|safe}}
		  },
		   {
			label: "Aufbuchungen",
			pointBorderColor: 'rgb(60, 141, 188)',
			borderColor: 'rgb(60, 141, 188)',
			pointStrokeColor: 'rgb(60, 141, 188)',
			data: {{gesamt_linechart.aufbuchungen.js()|safe}}
		  },
		]
	  };
  var canvas = document.getElementById("kontowert");
  var myLineChart = new Chart(canvas, {
	type: 'line',
  data: salesChartData,
  options: {
	responsive: true,
	maintainAspectRatio: false,
  }});

  </script>
</div>
<div class="box theme-row">
		<div class="box-header">
			<h3 class="box-title">Depotinformation</h3>
		</div>
		<div class="box-body">
			<table>
					<thead>
						<tr>
							<th>Kontoname</th>
							<th>Letzte Buchung</th>
							<th>Letzer Kontoauszug</th>
						</tr>
					</thead>
					<tbody>
						{% for konto in general_infos.kontos %}
						<tr>
							<td>{{konto.konto}}</td>
							<td>{{konto.letzte_order}}</td>
							<td
							{% if konto.warning %}
								class="negativ"
							{% endif %}
							>{{konto.letzter_auszug}}</td>

						</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
</div>

<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Sparkontos</h3>
		</div>
		<div class="box-body">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Kontotyp</th>
						<th class="table-wert">Gesamte Einzahlungen</th>
						<th class="table-wert">+/-</th>
						<th class="table-wert">Letzer Kontostand</th>
					</tr>
				</thead>
				<tbody>
					{% for sparkonto in kontos %}
					<tr>
						<td id="item_{{sparkonto.index}}_kontoname"><span class="fa fa-circle" style="color: {{sparkonto.color}};"></span>{{sparkonto.name}}</td>
						<td id="item_{{sparkonto.index}}_kontotyp">{{sparkonto.kontotyp}}</td>
						<td id="item_{{sparkonto.index}}_aufbuchungen" class="table-wert">{{sparkonto.aufbuchungen.deutsch()}} €</td>
						<td id="item_{{sparkonto.index}}_difference"
									class="table-wert
									{% if sparkonto.difference_is_negativ %}
									negativ
									{% endif %}
									"
								>{{sparkonto.difference.deutsch()}} €</td>
						<td id="item_{{sparkonto.index}}_wert" class="table-wert">{{sparkonto.wert.deutsch()}} €</td>
					</tr>
					{% endfor %}
					<tr>
						<td><b>Gesamt</b></td>
						<td></td>
						<td class="table-wert"><b id="item_gesamt_aufbuchungen">{{gesamt.aufbuchungen.deutsch()}} €</b></td>
						<td
									class="table-wert
									{% if gesamt.difference_is_negativ %}
									negativ
									{% endif %}
									"
						><b id="item_gesamt_difference">{{gesamt.difference.deutsch()}} €</b></td>
						<td class="table-wert"><b id="item_gesamt_wert">{{gesamt.wert.deutsch()}} €</b></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="konto_prozent" class="diagramm-canvas"></canvas>
			</div>
		</div>
		<script>
			var pieData = {
			labels:{{konto_diagramm.labels|safe}},
			datasets: [{
			data: {{konto_diagramm.datasets.js()|safe}},
			backgroundColor: {{konto_diagramm.colors|safe}},
			}],
			};
			var canvas = document.getElementById("konto_prozent");
			new Chart(canvas, {
			type: 'pie',
			data: pieData,
			options: {
			responsive: true,
			maintainAspectRatio: false,
			}});
		</script>
	</div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Anlagetypen</h3>
		</div>
		<div class="box-body">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th class="table-wert">Gesamte Einzahlungen</th>
						<th class="table-wert">+/-</th>
						<th class="table-wert">Letzer Kontostand</th>
					</tr>
				</thead>
				<tbody>
					{% for typ in typen %}
					<tr>
						<td id="item_{{typ.index}}_kontoname"><span class="fa fa-circle" style="color: {{typ.color}};"></span>{{typ.name}}</td>
						<td id="item_{{typ.index}}_aufbuchungen" class="table-wert">{{typ.aufbuchungen.deutsch()}} €</td>
						<td id="item_{{typ.index}}_difference"
									class="table-wert
									{% if typ.difference_is_negativ %}
									negativ
									{% endif %}
									"
								>{{typ.difference.deutsch()}} €</td>
						<td id="item_{{typ.index}}_wert" class="table-wert">{{typ.wert.deutsch()}} €</td>
					</tr>
					{% endfor %}
					<tr>
						<td><b>Gesamt</b></td>
						<td class="table-wert"><b>{{gesamt.aufbuchungen.deutsch()}} €</b></td>
						<td
									class="table-wert
									{% if gesamt.difference_is_negativ %}
									negativ
									{% endif %}
									"
						><b>{{gesamt.difference.deutsch()}} €</b></td>
						<td class="table-wert"><b>{{gesamt.wert.deutsch()}} €</b></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="typen_diagramm" class="diagramm-canvas"></canvas>
			</div>
		</div>
		<script>
			var pieData = {
			labels:{{typen_diagramm.labels|safe}},
			datasets: [{
			data: {{typen_diagramm.datasets.js()|safe}},
			backgroundColor: {{typen_diagramm.colors|safe}},
			}],
			};
			var canvas = document.getElementById("typen_diagramm");
			new Chart(canvas, {
			type: 'pie',
			data: pieData,
			options: {
			responsive: true,
			maintainAspectRatio: false,
			}});
		</script>
	</div>
</div>
<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Depot Order-Typen im Vergleich</h3>
		</div>
		<div class="box-body">
			<table>
				<thead>
					<tr>
						<th>Order-Typ</th>
						<th class="table-wert">Gesamtmenge</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="fa fa-circle" style="color: #39CCCC;"></span>Manuelle Order</td>
						<td class="table-wert">{{order_typ.manual.deutsch()}} €</td>
					</tr>
					<tr>
						<td><span class="fa fa-circle" style="color: #3D9970;"></span>Order durch Daueraufträge</td>
						<td class="table-wert">{{order_typ.dauerauftrag.deutsch()}} €</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="spartyp" class="diagramm-canvas"></canvas>
			</div>
		</div>
		<script>
			var pieData = {
			labels: ['Manuelle Order', 'Order durch Daueraufträge'],
			datasets: [{
			data: [{{order_typ.manual.js()}}, {{order_typ.dauerauftrag.js()}}],
			backgroundColor: ['#39CCCC', '#3D9970'],
			}],
			};
			var canvas = document.getElementById("spartyp");
			new Chart(canvas, {
			type: 'pie',
			data: pieData,
			options: {
			responsive: true,
			maintainAspectRatio: false,
			}});
		</script>
	</div>
</div>




<div class="theme-double-columns">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Aktuelle Daueraufträge</h3>
		</div>
		<div class="box-body">
			<table>
				<thead>
					<tr>
						<th>Depotwert</th>
						<th class="table-wert">Monatlicher Betrag</th>
					</tr>
				</thead>
				<tbody>
					{% for depotwert in monatlich.einzelwerte %}
					<tr>
						<td><span class="fa fa-circle" style="color: {{depotwert.color}};"></span>{{depotwert.name}}</td>
						<td class="table-wert">{{depotwert.wert.deutsch()}} €</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
			<div class="chart-responsive">
				<canvas id="dauerauftrag_typen_diagramm" class="diagramm-canvas"></canvas>
			</div>
		</div>
		<script>
			var pieData = {
			labels:{{monatlich.namen|safe}},
			datasets: [{
			data: {{monatlich.werte.js()|safe}},
			backgroundColor: {{monatlich.colors|safe}},
			}],
			};
			var canvas = document.getElementById("dauerauftrag_typen_diagramm");
			new Chart(canvas, {
			type: 'pie',
			data: pieData,
			options: {
			responsive: true,
			maintainAspectRatio: false,
			}});
		</script>
	</div>
</div>