<div class="theme-double-columns">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Daten</h3>
        </div>
        <div class="box-body">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Letzte Aktualisierung</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                {% for etf in etfs %}
                    <tr>
                        <td>{{ etf.Name }}</td>
                        <td>{{ etf.Datum }}</td>
                        <td>
                            <form role="form" action="/uebersicht_etfs/" method="post">
                                <input type="hidden" name="isin" value="{{ etf.ISIN }}">
                                <input type="hidden" name="action" value="update_data">
                                <button type="submit" name="action" value="update_etf_data" id="edit_{{ etf.ISIN }}">
                                    Daten aktualisieren
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="theme-double-columns">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Kosten</h3>
        </div>
        <div class="box-body">
            <table class="table">
                {% if costs %}
                    <tbody>
                    {% for cost in costs['data'] %}
                        <tr>
                            <td>{{ cost.name }}</td>
                            <td class="table-wert">{{ cost.costs_percent }} %</td>
                            <td class="table-wert">{{ cost.costs_eur }} €</td>
                        </tr>
                    {% endfor %}
                    <tfooter>
                        <tr>
                            <td>Gesamt</td>
                            <td class="table-wert">{{ costs['gesamt'].costs_percent }} %</td>
                            <td class="table-wert">{{ costs['gesamt'].costs_eur }} €</td>
                        </tr>
                    </tfooter>
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>

<div class="box theme-row">
    <div class="box-header">
        <h3 class="box-title">Regionen</h3>
    </div>
    <div class="box-body">
        <canvas id="region-canvas" class="diagramm-canvas"></canvas>
    </div>

    {% if regions %}

        <script>
            var color = Chart.helpers.color;
            var regionData = {
                labels: [
                    {% for e in regions['data'] %}
                        "{{e[0]}}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Wert',
                    backgroundColor: color('red').alpha(0.5).rgbString(),
                    borderColor: 'red',
                    borderWidth: 1,
                    data: [
                        {% for e in regions['data'] %}
                            {{e[1]['euro']}},
                        {% endfor %}
                    ]
                }]
            };
            var ctx = document.getElementById("region-canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'pie',
                data: regionData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    }
                }
            });

        </script>
    {% endif %}
</div>


<div class="box theme-row">
    <div class="box-header">
        <h3 class="box-title">Regionen</h3>
    </div>
    <div class="box-body">
        <table>
            {% if regions %}
                <thead>
                <tr>
                    <th></th>
                    {% for region in regions['header'] %}
                        <th colspan="2" class="table-border-left table-gap">{{ region }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Land</th>
                    {% for region in regions['header'] %}
                        <th class="table-border-left table-gap table-wert">Euro</th>
                        <th class="table-gap-left table-wert">Anteil</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for region in regions['data'] %}
                    <tr>
                        <td>{{ region[0] }}</td>
                        {% for etf in region[1:] %}
                            <td class="table-border-left table-gap table-wert">{{ etf.euro_str }} €</td>
                            <td class="table-gap table-wert">{{ etf.percent_str }} %</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>


<div class="box theme-row">
    <div class="box-header">
        <h3 class="box-title">Sektoren</h3>
    </div>
    <div class="box-body">
        <canvas id="sectors-canvas" class="diagramm-canvas"></canvas>
    </div>
    {% if sectors %}
        <script>
            var color = Chart.helpers.color;
            var sectorsData = {
                labels: [
                    {% for e in sectors['data'] %}
                        "{{e[0]}}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Wert',
                    backgroundColor: color('red').alpha(0.5).rgbString(),
                    borderColor: 'red',
                    borderWidth: 1,
                    data: [
                        {% for e in sectors['data'] %}
                            {{e[1]['euro']}},
                        {% endfor %}
                    ]
                }]
            };
            var ctx = document.getElementById("sectors-canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'pie',
                data: sectorsData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    }
                }
            });

        </script>
    {% endif %}
</div>


<div class="box theme-row">
    <div class="box-header">
        <h3 class="box-title">Sektoren</h3>
    </div>
    <div class="box-body">
        <table>
            {% if sectors %}
                <thead>
                <tr>
                    <th></th>
                    {% for sektor in sectors['header'] %}
                        <th colspan="2" class="table-border-left table-gap">{{ sektor }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Land</th>
                    {% for sektor in sectors['header'] %}
                        <th class="table-border-left table-gap table-wert">Euro</th>
                        <th class="table-gap-left table-wert">Anteil</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for sector in sectors['data'] %}
                    <tr>
                        <td>{{ sector[0] }}</td>
                        {% for etf in sector[1:] %}
                            <td class="table-border-left table-gap table-wert">{{ etf.euro_str }} €</td>
                            <td class="table-gap table-wert">{{ etf.percent_str }} %</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>