<mat-card class="erfassung">
  <mat-card-header>
    <mat-card-title>Partner konfigurieren</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="full-size-form-field">
        <mat-label>Partnername</mat-label>
        <input [formControl]="partnerName" matInput>
      </mat-form-field>
      <ul>
        @for (message of status; track message) {
          <li>{{ message }}</li>
        }
      </ul>
      @if (verknuepfungAktiv) {
        <button (click)="onClick()" class="full-size-form-field"
                color="primary" mat-raised-button>Verknüpfung löschen
        </button>
      } @else {
        <button (click)="onClick()"
                class="full-size-form-field"
                color="primary" mat-raised-button>Partner speichern
        </button>
      }
    </form>
  </mat-card-content>
</mat-card>
